{% extends 'landing2/base.html' %}
{% block content %}
    <!-- navigation -->
    <nav class="shadow navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="/static/landing2//img/logos/adxpace_logo.jpg" width="239" height="62" alt="www.adxpace.com">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#anunciante">Anunciante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#galeria">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#propietario">Propietario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/anunciante">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <p class="large align-top text-left" style="padding-top: 150px">Las reglas est&aacute;n cambiando</p>
        <div class="intro-text">
          <div class="col-lg-9 mx-auto">
            <p class="large text-center font-weight-normal">El proceso sencillo y eficaz en la planeaci&oacute;n y contrataci&oacute;n de espacios publicitarios sin intermediarios</p>
          </div>
        </div>
        <p class="large text-right" style="padding-bottom: 70px; margin: 0px;">Esto es disruptivo</p>
      </div>
    </header>

    <!-- Anunciante -->
    <section class="page-section" id="anunciante">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto text-center">
              <h2 class="section-heading text-uppercase">Anunciante</h2>
              <div class="separator"><hr class="shadow"></div>
              <p class="large font-weight-normal advertiser-text">Con ADXPACE tienes el poder de seleccionar y decidir que espacios publicitarios
                  quieres, necesitas, cuando y donde</p>
              <p>&nbsp;</p>
              <a id="btn-advertiser" class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="/anunciante">Log in</a>
          </div>
        </div>
        <p class="large text-right" style="padding-bottom: 20px; margin: 0px;">ADXPACE empoderando a los anunciantes !</p>
      </div>
    </section>

    <!-- Galeria -->
    <!-- <section id="galeria"> -->
    <div id="galeria" class="card card-raised card-carousel">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active">
          </li>
          <li data-target="#myCarousel" data-slide-to="1">
          </li>
          <li data-target="#myCarousel" data-slide-to="2">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/landing2/img/galeria/carrousel1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/landing2/img/galeria/carrousel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/landing2/img/galeria/carrousel3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev controles-galeria" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next controles-galeria" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- </section> -->

    <!-- Propietario -->
    <section class="page-section" id="propietario">
      <div class="container">
          <p class="large align-top text-left" style="padding-top: 20px; margin: 0px;">Las reglas est&aacute;n cambiando</p>
          <div class="row">
              <div class="col-lg-9 mx-auto text-center">
                  <h2 class="section-heading text-uppercase">Propietario</h2>
                  <div class="separator"><hr class="shadow"></div>
                  <p class="large font-weight-normal owner-text">Con adxpace decides tu inventario de espacios publicitarios para mayor visibilidad y ganar mas clientes</p>
                  <p>&nbsp;</p>
                  <a id="btn-owner" class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="/pilot">Ir</a>
              </div>
          </div>
          <p class="large text-right" style="padding-bottom: 20px; margin: 0px;">¡ ADXPACE empoderando a los dueños de medios !</p>
        </div>
    </section>

    <!-- Servicios -->
    <section class="page-section" id="servicios">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-icon"></i>
              <i class="fas fa-upload fa-stack-1x"></i>
            </span>
            <h4 class="service-heading">Anuncia</h4>
            <p class="text-parragraph">Tus espacios publicitarios para que los anunciantes los contraten de manera sencilla y eficaz</p>
          </div>
          <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-icon"></i>
              <i class="fas fa-mouse-pointer fa-stack-1x"></i>
            </span>
            <h4 class="service-heading">Selecciona</h4>
            <p class="text-parragraph">Selecciona, decide y reserva los espacios publicitarios ideales para tu campaña</p>
          </div>
          <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-icon"></i>
              <i class="fas fa-question-circle fa-stack-1x"></i>
            </span>
            <h4 class="service-heading">FAQ</h4>
            <p class="text-parragraph">Preguntas frecuentes</p>
          </div>
          <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-icon"></i>
              <i class="fas fa-address-book fa-stack-1x" aria-hidden="true"></i>
            </span>
            <h4 class="service-heading">Contacto</h4>
            <p class="text-parragraph">Llamanos al 55 5359 3700 Escribenos a info@mail.adxpace.com</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
  <section class="shadow page-section" id="footer">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h4 class="section-heading text-uppercase">ADXPACE.COM 2019 | <a href="/privacidad">AVISO DE PRIVACIDAD</a></h4>

              <div>
                  <span class="copyright">Copyright &copy; adxpace.com 2019</span>
              </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
