{% extends 'landing2/base.html'%}

{% block content %}
<div id='privacidad' class="container">
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3">
      <h4 class="privacidad-title"> Aviso de Privacidad de AADUP, S.A. DE C.V. </h4>
    </div>
    <div class="col-md-3 ">
      <a href="/">adxpace.com</a>
    </div>
  </div>

    <p><strong>AADUP, S.A. de C.V. (“ADXPACE.COM”)</strong>esta consiente de la importancia que representa para usted el uso y tratamiento que le damos a su información personal y el modo en que la compartimos, asimismo, agradecemos su confianza en que lo realizaremos con la debida prudencia y cuidado.</p>
    <p>Con fundamento en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la <strong class="subrayado">“Ley”</strong>), se presenta Aviso de Privacidad mediante el cual se informa lo siguiente:</p>
    <p>AADUP, S.A. de C.V. <strong class="subrayado">(“ADXPACE.COM”)</strong>, con domicilio en Av. Prado Oriente 17, San Francisco Cuautlalpan C.P. 53569 Naucalpan, Estado de México, es el responsable y quien decide sobre el tratamiento de sus datos personales que usted nos proporcione, los cuales serán protegidos de conformidad con la Ley y la demás normatividad que resulte aplicable.</p>
    <p>Los datos personales que ADXPACE.COM recaba directamente de usted a través de la página de Internet www.adxpace.com (la <strong class="subrayado">“Plataforma”</strong>) y que, para efectos de la Ley, no son considerados como datos personales sensibles, son los siguientes, mismos que serán tratados para las siguientes finalidades:</p>
    <p class="bullet">•	Nombre, apellidos, nacionalidad, dirección de correo electrónico, datos de contacto (número de teléfono) y fecha de nacimiento, a efecto de crear una cuenta en la Plataforma.</p>
    <p class="bullet">•	Las comunicaciones y cualquier otro dato que usted proporcione a través de la Plataforma y que se lleven a cabo entre los miembros podrá ser recopilado.</p>
    <p class="bullet">•	En caso de que usted desee hacerlo, podrá proporcionar información adicional que podrá formar parte de su perfil personal bajo la Plataforma, misma que puede incluir su sexo, idioma(s), país y ciudad de residencia, así como una descripción personal.</p>
    <p class="bullet">• La importación que se lleve a cabo puede ser a través de la asociación de una cuenta que usted tenga con algún proveedor de servicio de redes sociales a su cuenta bajo la Plataforma y estará sujeta a lo establecido en los Términos y Condiciones.</p>
    <p>Los datos personales sensibles que ADXPACE.COM recaba directamente de usted a través de la Plataforma, mismos que serán tratados para las siguientes finalidades, son:</p>
    <p class="bullet">•	Para ofrecer determinados servicios bajo la Plataforma (reservar y rentar un Espacio (según dicho término se define en los Términos y Condiciones)), se podrán solicitar datos financieros (cuenta bancaria o tarjeta de crédito o débito) con el propósito de transferir sus pagos. Asimismo, cuando usted desee utilizar los Servicios de Pago (según dicho término se define en los Términos y Condiciones), será necesario que ADXPACE.COM solicite datos financieros adicionales para procesar los pagos y dar cumplimiento a lo establecido en la legislación aplicable.</p>
    <p class="bullet">•	Se podrá solicitar la entrega de una fotografía de un documento de identificación oficial (Identificación Nacional Electoral, pasaporte, licencia o permiso para conducir o cualquier otro documento expedido por cualquier autoridad gubernamental, en la medida en que lo permita la legislación aplicable) o datos adicionales para acreditar su identidad, conforme a lo establecido en los Términos y Condiciones. Lo anterior con fines de seguridad en los servicios, para el servicio de pago/cobro, así como para verificar su identidad en cumplimiento con la legislación aplicable.</p>
    <p>Manifiesto mi conformidad al tratamiento de los datos personales sensibles para las finalidades aquí señaladas.</p>
    <p>Además de los datos personales señalados anteriormente, ADXPACE.COM podrá recopilar, de forma automática, la siguiente información a partir del uso que usted haga de la Plataforma. Estos datos personales son necesarios para brindarle los servicios bajo la Plataforma (ejecución del contrato que formaliza con nosotros, cumplimiento de ADXPACE.COM a las disposiciones legales aplicables, mejora en nuestros servicios y servicios de pago):</p>
    <p class="bullet">•	Datos de geolocalización precisa o aproximada, al utilizar determinadas funciones bajo la Plataforma, mediante su dirección IP o GPS, para ofrecerle una mejor experiencia y servicio.</p>
    <p class="bullet">•	Información de las funciones que realice bajo la Plataforma, las páginas que visualice y búsquedas que realice, así como la selección de los Espacios que lleve a cabo.</p>
    <p class="bullet">•	Utilizamos cookies (una cookie es un pequeño archivo de datos que se instala en su dispositivo (como su teléfono u ordenador)) y demás tecnologías similares, como balizas web (“web beacons”), píxeles e identificadores de teléfonos o dispositivos móviles. Estas tecnologías nos ayudan a (i) reconocer su navegador y almacenar sus preferencias, (ii) a facilitar y optimizar el funcionamiento de la Plataforma (iii) comprender la forma en que usted navega e interactúa con la Plataforma, (iv) mostrarle contenido que podrá ser de su interés, (v) dar cumplimiento a contratos legales que rigen el uso de la Plataforma, (vi) prevenir e identificar actividades fraudulentas que podrán conllevar a la detección de fraudes y (vii) llevar a cabo fines relacionados con la atención al cliente, análisis, investigación y cumplimiento con la legislación aplicable. Usted podrá deshabilitar el uso de cookies mediante los ajustes de su navegador, sin embargo, si usted opta por rechazar cookies, es posible que algunas secciones de la Plataforma no funcionen correctamente.</p>
    <p class="bullet">•	Se podrá recopilar la información relativa a sus transacciones de pago que se realicen a través de la Plataforma. Dicha información será el instrumento que se utilizó como método de pago (así como su fecha de expiración), la fecha y hora de pago, el importe de pago, los datos de facturación y datos relacionados con el mismo. Estos datos son necesarios para la ejecución del contrato celebrado entre usted y ADXPACE.COM, para permitir la prestación de los servicios de pago/cobro.</p>
    <p>Le recordamos que puede ejercer sus Derechos ARCO (según dicho termino se define más adelante) en los términos señalados en el presente Aviso de Privacidad.</p>
    <p>Además de las finalidades señaladas anteriormente, los datos personales que usted nos proporciona serán tratados y almacenados con las finalidades señaladas a continuación, en el entendido que nosotros adoptamos y actualizamos continuamente  nuestras medidas de seguridad físicas, administrativas, legales y técnicas para contribuir a la protección de sus datos personales.</p>
    <p class="bullet">•	Acceso y uso de la Plataforma.</p>
    <p class="bullet">•	Comunicación e interacción entre usted y los demás miembros bajo la Plataforma.</p>
    <p class="bullet">•	Cotejo de la información proporcionada a través de diversas fuentes de información para revisar antecedentes penales y policiales, conforme a la legislación aplicable y sujeto a su consentimiento expreso, cuando así lo requiera la Ley o demás disposiciones aplicables.</p>
    <p class="bullet">•	Operación, mejora y optimización de los servicios bajo la Plataforma.</p>
    <p class="bullet">•	Prestación de servicios de atención al cliente.</p>
    <p class="bullet">•	Envío de mensajes relacionados con soporte, actualizaciones, notificaciones y alertas de seguridad.</p>
    <p class="bullet">•	En caso de que usted lo autorice, para envío de invitaciones y  solicitudes, realización de labores para la prevención y detección de actividades fraudulentas, abusos, incidentes de seguridad insultos, spam y demás actos delictivos o dañinos. Asimismo, se podrán realizar investigaciones de seguridad y evaluación de riesgos.</p>
    <p class="bullet">•	Personalización de la cuenta bajo la Plataforma, a efecto de incluir sugerencias conforme a sus preferencias, historial de búsquedas y contenido.</p>
    <p class="bullet">•	Formalización de los contratos entre los miembros de la Plataforma, en cuyo caso nosotros podríamos tener que compartir los datos personales en la medida que resulte necesario para la adecuada ejecución de dichos contratos, en las formas descritas en los Términos y Condiciones.</p>
    <p class="bullet">•	Cumplimiento a obligaciones legales de ADXPACE.COM.</p>
    <p class="bullet">•	Cumplimiento a Términos y Condiciones.</p>
    <p class="bullet">•	A través de la Plataforma, usted podrá publicar cierta información y datos personales que serán visibles para el público en general y que será accesible a través de motores de búsqueda de terceros. En algunos casos, usted podrá deshabilitar esta función a través de los ajustes de su cuenta bajo la Plataforma. Favor de considerar que nosotros no controlamos las prácticas de motores de búsqueda de terceros, los cuales posiblemente utilicen memorias cachés que contengan información suya obsoleta.</p>
    <p>ADXPACE.COM podrá divulgar su información, incluidos sus datos personales, a tribunales, fuerzas y cuerpos de seguridad o agencias gubernamentales, o a terceros autorizados, en caso de que nosotros estemos obligados o autorizados a ello conforme la Ley y demás disposiciones aplicables o en caso de que tal divulgación sea necesaria de manera justificada.</p>
    <p>Las divulgaciones señaladas anteriormente pueden ser necesarias para dar cumplimiento a nuestras obligaciones legales, para la protección de sus intereses fundamentales o de terceros, o para los fines legítimos o para demás finalidades determinadas conforme a la legislación aplicable.</p>
    <p>En caso de que ocurra alguna vulneración a la seguridad de sus datos personales, misma que afecte de forma significativa sus derechos patrimoniales o morales, ADXPACE.COM lo hará de su conocimiento, lo más pronto posible, a través del correo electrónico o número telefónico proporcionado a ADXPACE.COM, a efecto de que usted pueda tomar las medidas necesarias correspondientes.</p>
    <p>En general, retenemos su información personal durante todo el tiempo que resulte necesario para consecución de los fines señalados en el presente aviso de privacidad y para dar cumplimiento a nuestras obligaciones legales. Si usted desea que el Responsable no utilice su información y sujeto a lo señalado en el párrafo siguiente, puede solicitarnos que eliminemos su información personal y cerremos su cuenta bajo la Plataforma, en el entendido que podremos retener ciertos datos personales para dar cumplimiento a nuestras o sus obligaciones legales, así como para fines estadísticos (una vez que se lleve a cabo el proceso de desasociación correspondiente) o para evitar que usted abra otra cuenta bajo la Plataforma en el futuro.</p>
    <p>Para hacer válidos sus derechos de acceso, rectificación, cancelación y oposición al tratamiento que ADXPACE.COM hace a sus datos personales (los <strong class="subrayado">“Derechos ARCO”</strong>), le pedimos envíe un correo electrónico a info@mail.adxpace.com. Favor de considerar que sus solicitudes deberán contener, al menos, la siguiente información: <strong class="subrayado">(i)</strong> nombre completo del titular, <strong class="subrayado">(ii)</strong> correo electrónico o domicilio para oír y recibir todo tipo de notificaciones en relación con su solicitud, <strong class="subrayado">(iii)</strong> los documentos necesarios que acrediten su identidad o, en su caso, la personalidad e identidad de su apoderado legal, <strong class="subrayado">(iv)</strong> una descripción clara y precisa de los datos personales respecto de los cuales busca ejercer sus Derechos ARCO, <strong class="subrayado">(v)</strong> la indicación clara del Derecho ARCO que pretende ejercer, y (v) cualquier otra información o documento que facilite la localización de los datos personales objeto de la solicitud. Su solicitud será atendida dentro del plazo determinado por la Ley y le informaremos sobre la procedencia de la misma a través del correo electrónico o, en su caso, del domicilio proporcionado para tal efecto.</p>
    <p>El presente aviso de privacidad podrá ser modificado, adicionado o actualizado de tiempo en tiempo y el mismo podrá ser consultado a través de nuestra página de Internet www.adxpace.com. Asimismo, nosotros le haremos llegar, a través de su correo electrónico, una notificación de dicha modificación con treinta días de anticipación. Usted podrá cancelar su cuenta bajo la Plataforma en caso de estar en desacuerdo con las nuevas políticas adoptadas, sin embargo, si usted no realiza esta cancelación, el acceso continuado que usted lleve a cabo a la Plataforma constituirá la aceptación tácita al nuevo aviso de privacidad.</p>
</div>

{% endblock content %}
