<template>
  <div>
    <VendedorMenu/>
    <div class="container">
      <h4 class="my-4">Fotografía</h4>
      <VendedorFoto foto='espacio' @handleImage="getImage"/>
      <h4 class="my-4">Ubicación</h4>
      <VendedorLocation location='espacio' @handleLocation="getLocation"/>
      <h4 class="my-4">Propietario y nombre del espacio</h4>
      <form class="form-wrapper">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Propietario:</label>
          <select @change='toggle_is_invalid($event)' v-model="espacio.propietario" class="form-control is-invalid">
            <option v-for="propietario in $store.state.vendedor.propietarios" v-bind:value="propietario.pk">
              {{propietario.primer_nombre}} {{propietario.apellido_paterno}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="my-6">Nombre del espacio</label>
          <input v-model="espacio.nombre" @keyup='toggle_is_invalid($event)' type="text" class="form-control is-invalid" placeholder="...">
          <div class="invalid-feedback">
            Campo requerido.
          </div>
        </div>
      </form>
      <h4 class="my-4">Dimensiones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label class="my-6">Alto (mts)</label>
              <input v-model="espacio.alto" @keyup='toggle_is_invalid($event)' type="number" class="form-control is-invalid" placeholder="...">
              <div class="invalid-feedback">
                Campo requerido. Mínimo {{minValue}} máximo {{maxValue}} metros.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="my-6">Ancho (mts)</label>
              <input v-model="espacio.ancho" @keyup='toggle_is_invalid($event)' type="number" class="form-control is-invalid" placeholder="...">
              <div class="invalid-feedback">
                Campo requerido. Mínimo {{minValue}} máximo {{maxValue}} metros.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="my-12"></label>
          DIGITAL
          <input v-model="espacio.digital" type="checkbox"> (sin checar = NO)
        </label>
      </div>
    </form>
    <h4 class="my-4">Especificaciones del espacio</h4>
    <form class="form-wrapper">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Giro:</label>
            <select v-model="espacio.giro" class="form-control">
              <option v-for="option in $store.state.vendedor.giros" v-bind:value="option[1]">{{option[0]}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo:</label>
            <select v-model="espacio.tipo" class="form-control">
              <option v-for="option in $store.state.vendedor.tipos" v-bind:value="option[1]">{{option[0]}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Material:</label>
            <select v-model="espacio.material" class="form-control">
              <option v-for="option in $store.state.vendedor.materiales" v-bind:value="option[1]">{{option[0]}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Restricciones:</label>
            <select v-model="espacio.restricciones" class="form-control">
              <option v-for="option in $store.state.vendedor.restricciones" v-bind:value="option[1]">{{option[0]}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <h4 class="my-4">Información adicional</h4>
    <form class="form-wrapper">
      <div class="form-row">
        <div class="col">
          <textarea v-model="espacio.descripcion" @keyup='toggle_is_invalid($event)' class="form-control is-invalid" rows="3"></textarea>
        </div>
      </div>
    </form>
    <div class="row submitrow form-wrapper">
      <div class="col-md-6 col-sm-12">
        <button @click.prevent="postEspacio" class="btn btn-secondary btn-block">Guardar</button>
      </div>
      <div class="col-md-6 col-sm-12">
        <button @click.prevent="ClearForm" class="btn btn-secondary btn-block">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-success" role="alert" hidden>
          <strong>Trabajando</strong> {{ alert_message }}
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import VendedorMenu from '@/components/Pilot/Vendedor/VendedorMenu'
import VendedorFoto from '@/components/Pilot/Vendedor/VendedorFoto'
import VendedorLocation from '@/components/Pilot/Vendedor/VendedorLocation'
import { mapGetters } from 'vuex'
export default {
  components: {
    VendedorMenu,
    VendedorFoto,
    VendedorLocation,
  },

  mounted() {
    this.is_logged_in()
    this.set_propietario()
  },
  data() {
    return {
      alert_message: '',
      imageData: '',
      imageFile: false,
      minValue: 0.1,
      maxValue: 100,
      marker: '',
      map: '',
      espacio: {
        api_call: 'agregar',
        // propietario: number,
        nombre: '',
        alto: '',
        ancho: '',
        material: '',
        descripcion: '',
        giro: '',
        tipo: '',
        restricciones: 1,
        digital: false,
        longitud: -99.1466904,
        latitud: 19.4023839,
      }
    }
  },
  methods: {
    getImage(event){
      this.imageFile = event.imageFile
    },
    getLocation(event){
      this.espacio.latitud = event.latitud
      this.espacio.longitud = event.longitud
    },
    set_propietario(){
      this.espacio.propietario = this.$store.state.vendedor.propietario.pk
      console.log(this.espacio.propietario)
    },
    is_logged_in() {
      if (this.$store.getters.is_authenticated) {
      }
      else {
        this.$router.push({ path: '/' })
      }
    },

    async getPropietarios() {
      await this.$store.dispatch('getPropietarios')
    },

    async postEspacio() {
      console.log(this.espacio)
      if(this.espacio.nombre.length == 0){
        alert('Favor de introducir el nombre del espacio.')
      }

      if(this.imageFile == false){
        alert('Es nesario la foto')
        return false
      }

      if (this.espacio.propietario){
        
      }else{
        alert('Error Seleccionar un propietario')
        return false
      }
      if(this.espacio.giro.length == 0){
        alert('Asignale un giro')
        return false
      }
      if(this.espacio.tipo.length == 0){
        alert('Asignale un tipo')
        return false
      }
      if(this.espacio.material.length == 0){
        alert('Asignale un material')
        return false
      }
      if(this.espacio.alto <= this.minValue || this.espacio.alto > this.maxValue || this.espacio.ancho < this.minValue || this.espacio.ancho > this.maxValue){
        alert('Error.  Corregir dimensiones')
        return false
      }

      if(this.espacio.descripcion.length == 0){
        alert('Agregar descripción adicional')
        return false
      }

      // if(this.imageData.length <= 0){
      //   alert('Favor de adjuntar una fotografía')
      //   return false
      // }
      this.alert_message = 'Guardando espacio'
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      await this.$store.dispatch('vendedorPostEspacio', this.espacio)
      if (this.$store.state.vendedor.response.respuesta[0]) {
        let formData = new FormData()
        formData.append('api_call', this.espacio.api_call)
        formData.append('imageFile', this.imageFile)
        formData.append('espacioImagen', this.$store.state.vendedor.response.respuesta[1])        
        this.$store.dispatch('vendedorUploadFoto', formData)
        this.$router.push({ path: '/' + this.$store.state.vendedor.group })
      }
    },

    toggle_is_invalid(event) {
      if (event.target.value.length == 0) {

        $(event.target).addClass('is-invalid')
      }
      else{
        $(event.target).removeClass('is-invalid')}
      },
      ClearForm() {
        this.$router.push({ path: '/' + this.$store.state.vendedor.group  })
      },
    },
  }
  </script>
