<template>
  <div>
    <VendedorMenu/>
      <div class="container">
        <div class="form-wrapper">
          <form>
            <div class="text-center">
              <label class="btn btn-picture">
                <i class="fas fa-camera fa-5x"></i>
                <input type="file" accept="image/*" capture="camera" style="display: none;" />
              </label>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6 mb-4">
                <button @click.prevent="DatosPersonalesPost" class="btn btn-secondary">Guardar</button>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <button @click.prevent="ClearForm" class="btn btn-secondary">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</template>
<script>
import VendedorMenu from '@/components/Pilot/Vendedor/VendedorMenu'
export default {
  components: {
    VendedorMenu,
  },
  mounted(){
    this.is_logged_in()
  },
  data () {
    return {

    }
  },

  methods: {
    is_logged_in() {
      if (this.$store.getters.authenticated) {
      }
      else {
        this.$router.push({ path: '/' })
      }
    },

    }
}
</script>
