<template>
  <div>
    <div class="container">
      <form class="form-wrapper">
        <div>
          <h3>Bienvenido, {{$store.state.vendedor.user.first_name}} {{$store.state.vendedor.user.last_name}}</h3>
        </div>
        <div class="form-group">
          <h4>Propietarios:
            <span class="badge badge-secondary"> {{$store.state.vendedor.nr_propietarios[0]}} </span>
            <span class="badge red-badge-secondary"> {{$store.state.vendedor.nr_propietarios[2]}} </span>
            <span class="badge green-badge-secondary"> {{$store.state.vendedor.nr_propietarios[1]}} </span>
          </h4>
        </div>
        <div class="form-group">
          <h4>Espacios: <span class="badge badge-secondary">{{$store.state.vendedor.nr_espacios}}</span></h4>
        </div>
      </form>
      <form class="form-wrapper">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <button v-on:click.prevent="personales" type="submit" class="btn btn-secondary btn-block">Agregar Propietario</button>
          </div>
          <div class="col-md-3 col-sm-12">
            <button v-on:click.prevent="local" type="submit" class="btn btn-secondary btn-block">Agregar Local</button>
          </div>
          <div class="col-md-3 col-sm-12">
            <button v-on:click.prevent="espacio" type="submit" class="btn btn-secondary btn-block">Agregar Espacio</button>
          </div>
          <div class="col-md-3 col-sm-12">
            <button v-on:click.prevent="misPropietarios" type="submit" class="btn btn-secondary btn-block">Mis propietarios</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Vendedor',
  components: {
  },

  mounted() {
    this.doSearch()
  },

  data() {
    return {
      search:{
        expresion: '',
        result:'',
      },
      edit:{
        index: '',
        estatus: '',
        email: '',
        telefono: '',
        primer_nombre: '',
        apellido_paterno: '',
        apellido_materno: '',
      },
    }
  },

  watch: {
    'edit.email': function () {
      this.toggle_email_telefono()
    },
    'edit.telefono': function () {
      this.toggle_email_telefono()
    },
  },

  methods:{
    isR(estatus){
      if(estatus == 'R'){
        return true
      }
      else {
        return false
      }
    },
    isP(estatus){
      if(estatus == 'P'){
        return true
      }
      else {
        return false
      }
    },
    isI(estatus){
      if(estatus == 'I'){
        return true
      }
      else {
        return false
      }
    },
    sendMail(email){
      window.location.href = 'mailto:' + email
    },
    callPhone(telefono){
      window.location.href ='tel:+52' + telefono
    },
    doSearch() {
      var result_array = []
      for (var i in this.$store.state.vendedor.propietarios){
        if (this.$store.state.vendedor.propietarios[i].primer_nombre.match(this.search.expresion) ||
        this.$store.state.vendedor.propietarios[i].apellido_paterno.match(this.search.expresion)) {
          var push = this.$store.state.vendedor.propietarios[i]
          push.index = i
          result_array.push(push)
        }
        this.search.result = result_array
      }
    },
    add_class_is_invalid(input_block) {
      if (input_block != ''){
        return false
      }
      else{
        return true
      }
    },
    toggle_email_telefono() {
      if (!this.edit.email && !this.edit.telefono) {
        $("input[name='email']").addClass('is-invalid')
        $("input[name='telefono']").addClass('is-invalid')
      }
      if (this.edit.email || this.edit.telefono) {
        $("input[name='email']").removeClass('is-invalid')
        $("input[name='telefono']").removeClass('is-invalid')
      }
    },
    toggle_is_invalid(event) {
      if (event.target.value == '') {
        $(event.target).addClass('is-invalid')
      }
      $(event.target).removeClass('is-invalid')
    },
    async getPropietarios() {
      await this.$store.dispatch('getPropietarios')
    },

    editPropietario(index) {

      this.edit.primer_nombre = this.$store.state.vendedor.propietarios[index].primer_nombre
      this.edit.apellido_paterno = this.$store.state.vendedor.propietarios[index].apellido_paterno
      this.edit.apellido_materno = this.$store.state.vendedor.propietarios[index].apellido_materno
      this.edit.email = this.$store.state.vendedor.propietarios[index].email
      this.edit.telefono = this.$store.state.vendedor.propietarios[index].telefono
      this.edit.pk = this.$store.state.vendedor.propietarios[index].pk
      this.edit.estatus = this.$store.state.vendedor.propietarios[index].estatus
      this.edit.index = index

      $('#DatosPersonalesModal').modal('toggle')
    },
    async updateDatosPersonales(){
      if (this.edit.estatus == 'P') {
        await this.$store.dispatch('PropietarioDatosPersonalesPost', this.edit)
      }
      await this.$store.dispatch('getPropietarios')
      this.doSearch()
      $('#DatosPersonalesModal').modal('toggle')
    },

    async updateDatosComerciales(){
      await this.$store.dispatch('VendedorDatosComerciales', this.edit)
      $('#DatosPersonalesModal').modal('toggle')
      this.$router.push({path: '/vendedor/datos_comerciales'})
    },
    misPropietarios() {
      this.$router.push({path: '/vendedor/mis_propietarios'})
    },
    personales() {
      this.$router.push({path: '/vendedor/datos_personales'})
    },
    local() {
      this.$router.push({path: '/vendedor/registrar_direcciones'})
    },
    espacio() {
      this.$router.push({path: '/vendedor/espacios'})
    },
    pro() {
      this.$router.push({path: '/vendedor/pro'})
    },
  }
}
</script>

<!-- Componente specific css atributes -->

<style scoped>
p.space {
  padding-left: 1.8em
}
</style>

<style scoped>
.green-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 167, 69, 1);
}

.red-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(220, 53, 69, 1);
}
</style>
