  <template>
    <div>
      <VendedorMenu/>
      <!-- <div class="container">
        <div class="row form-wrapper">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Buscar</label>
              <input v-model="search.expresion" v-on:keyup="doSearch" type="text" class="form-control" name="buscar" placeholder="Nombre o Apellido">
            </div>
          </div>
        </div>
        <div class="row form-wrapper">
          <div class="col-md-4">
            <i class="fas fa-lightbulb danger"></i> Preregistrado
          </div>
          <div class="col-md-4">
            <i class="fas fa-lightbulb waring"> </i> Incompleto
          </div>
          <div class="col-md-4">
            <i class="fas fa-lightbulb success"> </i> Registrado
          </div>
        </div>
      </div> -->
      <form>
        <div id="propietario">
          <v-client-table ref="tablaPropietarios"  :data="rows" :columns="columns" :options="options">
            <a slot="index" slot-scope="props"  @click.prevent="editPropietario(props.row.index-1)" href="#"  >
              {{ props.row.index-1 }}
            </a>
            <a slot="email" slot-scope="props"  @click.prevent="sendMail(props.row.email)" href="#"><span class="far fa-envelope"></span></a>
            <a slot="telefono" slot-scope="props"  @click.prevent="callPhone(props.row.telefono)" href="#" ><span class="fas fa-mobile-alt"></span></a>
          </v-client-table>
        </div>
      </form>
      <!-- <div class="container">
        <div class="row">
          <div class="col">
            <div class="table">
              <tr>
                <th class="single" scope="col">Id</th>
                <th class="single" scope="col">Propietario</th>
                <th>Locales</th>
                <th>Direcciones</th>
                <th class="single" scope="col">Contactar</th>
              </tr>
              <tr v-for="(propietario, index) in search.result" v-bind:class="{
                'table-danger': isP(propietario.estatus),
                'table-success': isR(propietario.estatus),
                'table-warning': isI(propietario.estatus)
                }">
                <td>{{propietario.pk}}</td>
                <td>
                  <a @click.prevent="editPropietario(propietario.index)" href="#">
                    {{ propietario.primer_nombre }} {{ propietario.apellido_paterno }}
                  </a>
                </td>
                <td>{{propietario.nr_espacios}}</td>
                <td>{{propietario.nr_locales}}</td>
                <td class="double">
                  <a @click.prevent="sendMail(propietario.email)" href="#"><span class="far fa-envelope"></span></a>
                  <a @click.prevent="callPhone(propietario.telefono)" href="#"><span class="fas fa-mobile-alt"></span></a>
                </td>
              </tr>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Modal -->
      <div class="modal fade" id="DatosPersonalesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div v-if="edit.estatus == 'P'">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar: {{edit.primer_nombre}} {{edit.apellido_paterno}}</h5>
              </div>
              <div v-else>
                <h5 class="modal-title" id="exampleModalLongTitle">Propietario Registrado</h5>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="InputNombre1">Nombre</label>
                <input v-model="edit.primer_nombre" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(edit.primer_nombre)}]"
                  placeholder="Nombre">
                <div class="invalid-feedback">
                  Campo requerido.
                </div>
              </div>
              <div class="form-group">
                <label for="Inputapellidos1">Apellido paterno</label>
                <input v-model="edit.apellido_paterno" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(edit.apellido_paterno)}]"
                  placeholder="Apellido paterno">
                <div class="invalid-feedback">
                  Campo requerido.
                </div>
              </div>
              <div class="form-group">
                <label for="Inputapellidos1">Apellido materno</label>
                <input v-model="edit.apellido_materno" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(edit.apellido_materno)}]"
                  placeholder="Apellido materno">
                <div class="invalid-feedback">
                  Campo requerido.
                </div>
              </div>
              <div class="form-group">
                <label for="InputEmail1">Correo electrónico</label>
                <input v-model="edit.email" type="email" class="form-control is-invalid" name="email" aria-describedby="emailHelp" placeholder="Escriba su correo electrónico">
                <div class="invalid-feedback">
                  El correo electrónico o el teléfono son campo requeridos.
                </div>
              </div>
              <div class="form-group">
                <label for="InputTelefono1">Telefono</label>
                <input v-model="edit.telefono" type="tel" class="form-control is-invalid" name="telefono" placeholder="Teléfono">
                <div class="invalid-feedback">
                  El correo electrónico o el teléfono son campo requeridos.
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="container">
                <div class="col-md-12 col-sm-12">
                  <div v-if="edit.estatus == 'P'">
                    <button @click.prevent="updateDatosPersonales" type="button" class="btn btn-secondary btn-block">Guardar cambios</button>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import VendedorMenu from '@/components/Pilot/Vendedor/VendedorMenu'

  import {ClientTable} from 'vue-tables-2';





  export default {
    name: 'Vendedor',
    components: {
      VendedorMenu
    },

    computed:{
      ...mapGetters({
        get_propietarios: 'get_propietarios',
        get_propietarioNew: 'get_propietarioNew'
      }),
    },

    mounted() {

      this.doSearch()
    },

    data() {
      return {
        theme: 'bootstrap4',
        columns : [
          'index',
          'nr',
          'propietario',
          'direcciones',
          'locales',
          'email',
          'telefono',
          'estatus'
        ],
        rows:[],
        options: {
          headings: {
            'index' : "Index",
            'nr' : 'Id',
            'propietario' :'Propietario',
            'locales' : 'Locales',
            'direcciones' :'Direcciones',
            'email' : 'Contacto email',
            'telefono' : 'Contacto telefonico'
          },
          texts: {
            filter: '',
            filterBy: '{column}',
          },
          showModal: true,
          footerHeadings: false,
          filterByColumn: true,
          filterable: [
            'nr',
            'propietario',
            'locales',
            'direcciones',
            'estatus'
          ],
          sortable: true,
          listColumns: {
            estatus: [{
              id: '',
              text: '...'
              },
              {
              id: 'P',
              text: 'P'
              },
              {
              id: 'I',
              text: 'I'
              },
              {
              id: 'R',
              text: 'R'
            }],
          },
          childRowTogglerFirst: false,
          pagination: {
              chunk:25,
              dropdown: true,
              esdge: true,
              },

            sortIcon:{
              base:'fa fas',
              is:'fa-sort',
              up: 'fa-sort-alpha-asc',
              down: 'fa-sort-alpha-desc'
              },
            preserveState: false,
            saveState: false,
            highlightMatches: true,
            perPageValues: [10,25,50,100, 200, 1000],
        },
        // search:{
        //   expresion: '',
        //   result:'',
        // },
        edit:{
          index: '',
          estatus: '',
          email: '',
          telefono: '',
          primer_nombre: '',
          apellido_paterno: '',
          apellido_materno: '',
        },
      }
    },

    watch: {
      'edit.email': function () {
        this.toggle_email_telefono()
      },
      'edit.telefono': function () {
        this.toggle_email_telefono()
      },
    },

    methods:{
      isR(estatus){
        if(estatus == 'R'){
          return true
        }
        else {
          return false
        }
      },
      isP(estatus){
        if(estatus == 'P'){
          return true
        }
        else {
          return false
        }
      },
      isI(estatus){
        if(estatus == 'I'){
          return true
        }
        else {
          return false
        }
      },
      sendMail(email){
        window.location.href = 'mailto:' + email
      },
      callPhone(telefono){
        window.location.href ='tel:+52' + telefono
      },
      doSearch() {
        this.rows = this.get_propietarioNew
        // var result_array = []
        // for (var i in this.get_propietarios){
        //   if (this.get_propietarios[i].primer_nombre.match(this.search.expresion) ||
        //       this.get_propietarios[i].apellido_paterno.match(this.search.expresion)) {
        //     var push = this.get_propietarios[i]
        //     push.index = i
        //     result_array.push(push)
        //   }
        //   this.search.result = result_array

        // }
      },
      add_class_is_invalid(input_block) {
        if (input_block != ''){
          return false
        }
        else{
          return true
        }
      },
      toggle_email_telefono() {
        if (!this.edit.email && !this.edit.telefono) {
          $("input[name='email']").addClass('is-invalid')
          $("input[name='telefono']").addClass('is-invalid')
        }
        if (this.edit.email || this.edit.telefono) {
          $("input[name='email']").removeClass('is-invalid')
          $("input[name='telefono']").removeClass('is-invalid')
        }
      },
      toggle_is_invalid(event) {
        if (event.target.value == '') {
          $(event.target).addClass('is-invalid')
        }
        $(event.target).removeClass('is-invalid')
      },
      async getPropietarios() {
        await this.$store.dispatch('getPropietarios')
      },

      editPropietario(index) {

        this.edit.primer_nombre = this.get_propietarios[index].primer_nombre
        this.edit.apellido_paterno = this.get_propietarios[index].apellido_paterno
        this.edit.apellido_materno = this.get_propietarios[index].apellido_materno
        this.edit.email = this.get_propietarios[index].email
        this.edit.telefono = this.get_propietarios[index].telefono
        this.edit.pk = this.get_propietarios[index].pk
        this.edit.estatus = this.get_propietarios[index].estatus
        this.edit.index = index

        $('#DatosPersonalesModal').modal('toggle')
      },
      async updateDatosPersonales(){
        if (this.edit.estatus == 'P') {
          await this.$store.dispatch('VendedorDatosPersonalesPost', this.edit)
        }
        await this.$store.dispatch('getPropietarios', {})
        this.doSearch()
        $('#DatosPersonalesModal').modal('toggle')
      },

      async updateDatosComerciales(){
        await this.$store.dispatch('VendedorDatosComerciales', this.edit)
        $('#DatosPersonalesModal').modal('toggle')
        this.$router.push({path: '/vendedor/datos_comerciales'})
      },
      personales() {
        this.$router.push({path: '/vendedor/datos_personales'})
      },
      espacio() {
        this.$router.push({path: '/vendedor/espacios'})
      },
      pro() {
        this.$router.push({path: '/vendedor/pro'})
      },
    }
  }
  </script>

  <style>
  .VueTables__pagination-wrapper{
    float: right;
  }

  .VueTables__limit{
    float: right;
  }
  </style>
