<template>
  <div>
    <VendedorMenu/>
    <div class="gap">      
    </div>
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-left text-white mt-4">DATOS COMERCIALES</h2>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>
<script>
  import VendedorMenu from '@/components/Pilot/Vendedor/VendedorMenu'
  export default {
    components: {
      VendedorMenu,
    },
    mounted() {

    },
    data() {
      return {
      }
    },
    watch: {

    },
    methods: {

    }
  }
</script>
