<template>
  <div>
    <VendedorMenu/>
    <Vendedor/>
  </div>
</template>

<script>
import Vendedor from '@/components/Pilot/Vendedor/Vendedor'
import VendedorMenu from '@/components/Pilot/Vendedor/VendedorMenu'
export default {
  name: 'VendedorLanding',
  components: {
    VendedorMenu,
    Vendedor,
  },
  mounted(){

  },
  data (){
    return{
    }
  }
}
</script>
