<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a  v-on:click.prevent="home" href="#" class="navbar-brand">ADXSPACE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a v-on:click.prevent="personales" class="nav-link" href="#">PERSONALES</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="espacio" class="nav-link" href="#">ESPACIO</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="logout" class="nav-link" href="#">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import api from '@/store/api'
export default {
  mounted(){

  },
  data () {
    return {
    }
  },
  methods:{
    async logout(){
      await this.$store.dispatch('logout')
    },
    home(){
      this.$router.push({path: '/vendedor'})
    },
    personales(){
      this.$router.push({path: '/vendedor/datos_personales'})
    },
    bancarios(){
      this.$router.push({path: '/main/datos_bancarios'})
    },
    espacio(){
      this.$router.push({path: '/vendedor/espacios'})
    },
    pro(){
      this.$router.push({path: '/vendedor/pro'})
    },
  }
}
</script>
