<template>
  <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div>
</template>

<script>
  export default {
    components: {

    },

    mounted() {

    },
    data() {
      return {

        }
      },
    methods: {

    },
  }
</script>
