<template>
  <div>
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-left text-white mt-4">DATOS BANCARIOS</h2>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="form-wrapper">
          <form>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked> Doy Factura
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2"> No doy factura
                </label>
              </div>
            </fieldset>
            <div class="form-group">
              <label for="InputRFC1">RFC</label>
              <input type="text" class="form-control" id="InputRFC1" placeholder="Escriba su RFC">
            </div>
            <div class="form-group">
              <label for="InputBanco1">Banco</label>
              <input type="text" class="form-control" id="InputBanco1" placeholder="Escriba el nombre de su banco">
            </div>
            <div class="form-group">
              <label for="InputClave1">Número de clave de la cuenta bancaria </label>
              <input type="text" class="form-control" id="InputClave1" placeholder="Escriba su clave">
            </div>
            <div class="form-group">
              <label for="InputCuenta1">Cuenta a Nombre de Nombre Completo</label>
              <input type="text" class="form-control" id="InputCuenta1" placeholder="Escriba su nombre completo">
            </div>
            <button type="submit" class="btn btn-secondary">Guardar</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  mounted(){
    this.is_logged_in()
  },
  data () {
    return {
    }
  },
  methods: {
    is_logged_in(){
      if (this.$store.getters.authenticated){

      }
      else{
        this.$router.push({path: '/'})
      }
    }

  }
}
</script>
