<template>
  <div>
    <section class="h-100">
      <div class="container-fluid h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Reestablecer Contraseña</h4>
                <div class="alert alert-danger">
                  <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Contraseña muy corta.
                </div>
                <form method="POST">
                  <div class="form-group has-success">
                    <label for="password">Contraseña nueva</label>
                    <input class="form-control input-lg" placeholder="Contraseña nueva" name="new_password1" value="" type="password">
                  </div>
                  <div class="form-group has-success">
                    <label for="password">Confirmar contraseña nueva</label>
                    <input class="form-control input-lg" placeholder="Confirmar contraseña nueva" name="new_password2" value="" type="password">
                  </div>
                  <div class="gap10px"></div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                      Reestablecer
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  mounted(){
    this.is_logged_in()
  },
  data () {
    return {
    }
  },
  methods: {
    is_logged_in(){
      if (this.$store.getters.authenticated) {
      }
      else{
        this.$router.push({path: '/'})
      }
    }

  }
}
</script>
