// import local variables

@import "variables";

// import bootstrap

@import 'node_modules/bootstrap/scss/bootstrap.scss';


// $fa-font-path: "node_modules/font-awesome/fonts";
// @import "node_modules/font-awesome/scss/font-awesome";

/* Navbar */
.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover   {
  color: $gray-200;
  font-weight:800;
}
/* Navbar links */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    background-color: rgba(0,0,0,.9);
    color: $gray-200;
}

.gap {
  padding-top: 40px;
}

.gap10px {
  padding-top: 10px;
}

/* unvisited link */
a:link {

}

/* visited link */
a:visited {

}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {

}

/*Btn Secondary*/

.btn-secondary {
  color: $white;
  border-color: $black;
  background-color: $black;
  border: 1px solid $black;
  margin-bottom:5px;
  box-shadow:none;
  margin-top: 20px;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: $white;
  border-color: $black;
  background-color: $black;
  border: 1px solid $black;
  margin-bottom:5px;
  box-shadow:none;
}

.container-fluid {
  background: $greige;
  color: $black;
}

body.main {
  background-color: $greige;
  font-size: 14px;
}


.main .brand img {
  width: 100%;
}

/* sign up card */
.main .card-wrapper {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.main .card {
  border-color: transparent;
  background-color: $gray-200;
  box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  color:#000;
}


.main .card.fat {
  padding: 10px;
  margin: 40px auto;
}

.main .card .card-title {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.main .form-control {
  border-width: 2.3px;
}

.main .form-group label {
  width: 100%;
}

.main .btn.btn-block {
  background-color: $black;
  border-color: $black;
  padding: 12px 10px;

}

.main .margin-top20 {
  margin-top: 20px;
}

.main .no-margin {
  margin: 0;
}


.main .footer {
  position: relative;
  width: 100%;
  height: 70px;
  padding-top: 30px;
  background-color:$greige;
  color: $red;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.form-wrapper {
  padding-top: 20px;
  margin: 40px auto;
}



/*Header*/

.business-header {
  height: 80px;
  min-height: 80px;
  background-color: $gray-200;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

/*Espacios*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.card-geo {

  background-color: $gray-200;
}

.card-title-geo {
  color: $white;
}

.main .card .card-title {
  margin-bottom: 0px;
}

/*Btn Geolocalidad*/

.btn-geo {
  color: $white;
  border-color: $gray-200;
  background-color: $gray-200;
  border: 1px solid $gray-200;
  margin-bottom:5px;
  box-shadow:none;
  margin-top: 20px;
  width: -webkit-stretch;
  height: 100px;


}

.btn-geo:hover,
.btn-geo:focus,
.btn-geo:active,
.btn-geo.active,
.open .dropdown-toggle.btn-secondary {
  color: $white;
  border-color: $gray-200;
  background-color: $gray-200;
  border: 1px solid $gray-200;
  margin-bottom:5px;
  box-shadow:none;
  width: -webkit-stretch;
  height: 100px;
}

.btn-picture{
  background-color: transparent;
  border-color: transperent;
  width: 230px;
}

.fa-camera {
  color: $red;
}

.fa-thumbs-down {
  color: $red;
}

.fa-camera:hover {
  color: $gray-700;
}

.fa-thumbs-down:hover {
  color: $gray-700;
}
/*Espacios*/

img.preview {
  width: 200px;
  background-color: white;
  border: 1px solid #DDD;
  padding: 5px;
}

img.curves{
  width: 400px;
  background-color: white;
  border: 1px solid #DDD;
  padding: 5px;
}

// Mapas

#map {
  width: 100%;
  height: 300px;
}

.table th, .table td{
  border-top: none;
}

td.double{
  a{
    float: right;
    cursor: pointer;
  }
  a:first-child{
    float: left;
    cursor: pointer;
  }
}

td.single{
    text-align: center;
}

th.single{
    text-align: center;
}

.waring{
  color: $yellow;
}

.danger{
  color: $red;
}

.success{
  color: $green;
}
