h3{

}

.bg-faded
{
    background-color: #eceeef;
    min-height: 56px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler,
.navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:hover
{
    color: #eceeef;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    background-color: rgba(0,0,0,.9);
    color: white;
}

.btn-primary
{
    color: #fff;
    background-color: rgba(0,0,0,.9);
    border-color: rgba(0,0,0,.9);
}

button{
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus
{
    color: #fff;
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
}

#logo
{
    max-width: 500px;
}

.background_color_grey
{
    background-color: #eceeef;
}

.lista
{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    background-color: black;
    color: white;
    width: 64px;
    text-align: center;
    font-family: 'Avenir';
}

footer .adxpace
{
    color: rgba(148,25,20,1);
    font-family:'Avenir Next';
}

footer .termin
{
    color: rgba(151,151,151,1);
    font-family:'Avenir Next';
}

@media (max-width: 992px)
{
    #top
    {
        text-align: center;
        display: block !important;
    }
}

@media (max-width: 768px)
{
    .div_lista
    {
        display: block !important;
    }
}
