/*! Isaac Alejandro López Castrejón | 2017 */
@font-face
{
    font-family:'Avenir';
    src:url(../fonts/Avenir.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Avenir Next';
    src:url(../fonts/Avenir Next.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Avenir Next Condensed';
    src:url(../fonts/Avenir Next Condensed.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.Avenir
{
    font-family:'Avenir';
}

.Avenir-Next
{
    font-family:'Avenir Next';
}

.Avenir-Next-Condensed
{
    font-family:'Avenir Next Condensed';
}