{% extends "pilot/base.html" %}
{% block  content %}
<div>
  <div id="register" class="container">
    <div class="form-wrapper">
      <form id="registerForm" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="InputNombre1">Nombre de usuario:</label>
          <input id="username" name="username" type="text" class="form-control" placeholder="Usuario">
          <div class="invalid-feedback">
            Campo requerido y debe de contener al menos 6 caracteres.
          </div>
        </div>
        <div class="form-group">
          <label for="InputNombre1">Contraseña:</label>
          <input id="password1" name="password1" type="password" class="form-control" placeholder="Contraseña">
          <div class="invalid-feedback">
            Campo requerido.  Debe contener al menos 6 caracteres
          </div>
        </div>
        <div class="form-group">
          <label for="InputNombre1">Repita Contraseña:</label>
          <input id="password2" name="password2" type="password" class="form-control" placeholder="Confirmar contraseña">
          <div class="invalid-feedback">
            Las contraseñas deben de coincidir
          </div>
        </div>
        <div class="row submitrow">
          <input type="hidden" name="id" value="{{id}}">
          <div class="col-md-12 col-sm-12">
            <div id="errorMessage" class="alert alert-danger" role="alert" hidden>

            </div>
            <div id="successMessage" class="alert alert-success" role="alert" hidden>
              <a href="#">somelink</a>
            </div>
            <button id="submitButton" class="btn btn-secondary">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <footer class="main footer">
    <div class="container">
      <p class="float-right"><a href="#app">Arriba</a></p>
      <p>&copy; 2018 <a href="/">http://adxpace.com &middot;</a></p>
    </div>
    <!-- /.container -->
  </footer>
</div>
{% endblock %}
