{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/top_bar.html' %}

  <!-- <div class="row">
  <div class="col-md-4">
  <center><h1><a @click="test" href="#">${ message }</a></h1></center>
</div>
</div> -->
<div class="container form-wrapper">
  <div class="row">
    <div class="col-md-2">
      <button @click='click_me()' type="button" class="btn btn-secondary btn-block" name="button">Filtrar</button>
    </div>
    <div class="col-md-10">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Filtrar por tipo
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" @change="toggle_checkallTipos" v-model="checkallTipos">
                    <label class="form-check-label" for="defaultCheck1">
                      Checar todos
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div v-for="tipo in tipos" class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="checkedTipos" v-bind:value="tipo.pk">
                    <label class="form-check-label" for="defaultCheck1">
                      ${tipo.designacion}
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="checkedDigital">
                    <label class="form-check-label" for="defaultCheck1">
                      Solo digitales
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Filtrar por giro
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" @change="toggle_checkallGiros" v-model="checkallGiros">
                    <label class="form-check-label" for="defaultCheck1">
                      Checar todos
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div v-for="giro in giros" class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="checkedGiros" v-bind:value="giro.pk">
                    <label class="form-check-label" for="defaultCheck1">
                      ${giro.designacion}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Mapa
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <center><div id="map"></div></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
    <h1>Resultados encontrados: ${espacios_count}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <th>id</th>
          <th>giro</th>
          <th>tipo</th>
        </tr>
        <tr v-for="espacio in espacios">
          <td>${espacio.pk}</td>
          <td>${espacio.giro}</td>
          <td>${espacio.tipo}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],
  mounted(){
    this.get_data_points()
    this.get_filtros()
  },
  data: {
    message: 'Mapeo de Espacios Publicitarios prueba piloto',
    message_text: true,
    marker: '',
    map: '',
    latitud: 19.4023839,
    longitud: -99.1466904,
    checkedTipos: [],
    checkedGiros: [],
    checkedDigital: 0,
    digital_true: 1,
    tipos: '',
    giros: '',
    espacios: '',
    espacios_count: 0,
    checkallTipos: true,
    checkallGiros: true,
  },
  methods:{
    toggle_checkallTipos(){
      this.checkedTipos = []
      if(this.checkallTipos){
        var tipos = this.tipos
        for (var n = 0; n < this.tipos.length; n++){
          this.checkedTipos.push(tipos[n].pk)
        }
      }
      else if (!this.checkallTipos) {

      }
    },
    toggle_checkallGiros(){
      this.checkedGiros = []
        if(this.checkallGiros){
          var giros = this.giros
          for (var n = 0; n < this.giros.length; n++){
            this.checkedGiros.push(giros[n].pk)
          }
        }
    },
    async get_data_points(){
      var instance = this
      await this.$http.get('/casetas')
      .then((response) => {
        // instance.casetas = response.body.casetas.data
        instance.espacios = response.body.espacios.data
        instance.initMap()
      })
      .catch((err) => {
        console.log(err);
      })
    },

    async get_filtros(){
      var instance = this
      await this.$http.get('/filtros')
      .then((response) => {
        instance.giros = response.body.giros
        instance.tipos = response.body.tipos
        var giros = instance.giros
        for (var n = 0; n < instance.giros.length; n++){
          instance.checkedGiros.push(giros[n].pk)
        }
        var tipos = instance.tipos
        for (var n = 0; n < instance.tipos.length; n++){
          instance.checkedTipos.push(tipos[n].pk)
        }
      })
    },
    async click_me(){
      console.log(this.checkedDigital);

      var espacios_filtrados = {
        'tipos_filter': this.checkedTipos,
        'giros_filter': this.checkedGiros,
        'digital': this.checkedDigital,
      }
      var config = {emulateJSON: true,}
      var instance = this
      await this.$http.post('/espacios_filtrados', espacios_filtrados, config)
      .then((response) => {
        console.log(response.body);
        instance.espacios = response.body.espacios
        instance.espacios_count = response.body.espacios_count
      })
      this.initMap()
    },

    initMap(){
      var center = new google.maps.LatLng(this.latitud, this.longitud);
      var options = {
        'zoom': 8,
        'center': center,
        'mapTypeId': google.maps.MapTypeId.ROADMAP,
      };

      var map = new google.maps.Map(document.getElementById("map"), options);

      var markers = [];
      for (var i = 0; i < this.espacios.length; i++) {
        var latLng = new google.maps.LatLng(this.espacios[i].latitud,
          this.espacios[i].longitud)
          var marker = new google.maps.Marker({'position': latLng});
          markers.push(marker);
        }
        var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'media/maps/m'});
      },
    }
  })
  </script>
  <script type="text/javascript">
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    })
  })
  </script>
{% endblock %}
