<script  src="https://cdn.jsdelivr.net/npm/vue-tables-2@1.4.70/dist/vue-tables-2.min.js"></script>
<script type="text/javascript">

Vue.use(VueTables.ClientTable);

var app = new Vue({
  el: '#app',
  delimiters: ['${','}'],

  mounted(){
    this.initMap()
    this.get_asociados()
  },

  data :{
    latitud: "{{sucursal.geo_localidad.latitud}}",
    longitud: "{{sucursal.geo_localidad.longitud}}",
    pk: "{{sucursal.pk}}",
    show:false,
    nombre:"",
    imagen:"",
    coordenas:"",
    marker: "",
    columns: ['pk', 'nombre', 'foto'],
    tableData: [],
    options: {
      filterByColumn: true,
      filterable: [
        'nombre'
      ],
      sortable: true,
      pagination: {
        // chunk:10,
        dropdown: true,
        esdge: true,
      },
      sortIcon:{
        base:'fa fas',
        is:'fa-sort',
        up: 'fa-sort-alpha-asc',
        down: 'fa-sort-alpha-desc'
      },

      highlightMatches: true,
      perPageValues: [10,15,20],
    },
  },

  methods:{

    go_back(){
      window.history.back()
    },

    async get_asociados(){
      var instance = this
      await this.$http.get('/dixon_asociados/'+this.pk)
      .then((response) => {
        console.log(response.body.espacios)
        instance.tableData = response.body.espacios
      })
      .catch((err) => {
        console.log(err);
      })
      this.set_location_espacios(this.tableData)
    },

    set_location_espacios(espacios){
      let icon_espacio = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      for(var n=0; n < espacios.length; n++){
        this.map_marker(espacios[n], icon_espacio)
      }
    },

    map_marker(point, icon){
      var instance = this
      var uluru = {lat: Number(point.latitud), lng: Number(point.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })

      marker.addListener('click', log_pk)
      function log_pk() {
        instance.nombre = point.nombre
        instance.imagen = point.foto
        instance.coordenas = point.latitud +' , '+point.longitud

        if (marker.getAnimation() !== null) {
          marker.setAnimation(null)
        } else {
          instance.show = true
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

    },

    initMap(){
      // if(!this.latitud){
      if(!"{{sucursal.geo_localidad.latitud}}"){
      }
      else {
        var uluru = {lat: Number(this.latitud), lng: Number(this.longitud)}

        this.map = new google.maps.Map(document.getElementById('map'), {
          center: uluru,
          zoom: 15
        })
        this.marker = new google.maps.Marker({
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
          position: uluru,
          draggable: false,
          map: this.map
        })
        var instance = this
        var marker = this.marker

        google.maps.event.addListener(marker, 'dragend', function(marker){
          instance.latitud = marker.latLng.lat()
          instance.longitud = marker.latLng.lng()
          instance.send_location()
        })

        var map = this.map
        google.maps.event.addListener(map, 'click', function(event){
          var marker=event
          var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

          instance.marker.setPosition(Latlng)
          instance.map.setCenter(instance.marker.getPosition())
          instance.latitud = marker.latLng.lat()
          instance.longitud = marker.latLng.lng()
          instance.send_location()
        })
      }
    },
  }
})
</script>
<style scoped>
  .table th, .table td{
    height: 50px;
    width: 250px;
    text-align: center;
  }
  .img-thumbnail{
    width: 100%;
  }
</style>
