<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/provisional/img/favico.ico" rel="shortcut icon">
  <title>ADXPACE :: Home</title>
  <!--jQuery-->
  <script src="/static/provisional/library/jquery/jquery.v3.2.1.min.js"></script>
  <!--jQuery-->
  <!--Normalize-->
  <link rel="stylesheet" href="/static/provisional/library/normalize/normalize.css">
  <!--Normalize-->
  <!--Tether-->
  <link rel="stylesheet" href="/static/provisional/library/tether-1.3.3/css/tether.min.css">
  <script src="/static/provisional/library/tether-1.3.3/js/tether.min.js"></script>
  <!--Tether-->
  <!--Bootstrap-->
  <link rel="stylesheet" href="/static/provisional/library/bootstrap/bootstrap-4.0.0-alpha/css/bootstrap.min.css">
  <script src="/static/provisional/library/bootstrap/bootstrap-4.0.0-alpha/js/bootstrap.min.js"></script>
  <!--Bootstrap-->
  <link rel="stylesheet" href="/static/provisional/css/estilos_home.css">
  <!--Fuentes-->
  <link rel="stylesheet" href="/static/provisional/fonts/raleway/css/raleway.css">
  <link rel="stylesheet" href="/static/provisional/fonts/avenir/css/avenir.css">
  <!--Fuentes-->
</head>
<body>

  <div class="container">
    <div class="col">
      <div class="row py-3">
        <div id="top" class="d-flex flex-sm-row align-items-center">
          <img id="logo" class="w-100" src="/static/provisional/img/logo.png">
          <h3 class="mx-3">LA MEJOR MANERA DE ANUNCIARTE</h3>
          <a href="{{link}}"><button type="button" class="ml-auto btn btn-lg btn-danger"><b>Registra<br>tu espacio</b></button></a>
        </div>
      </div>
    </div>
    <div class="col-12 py-5 text-center">
      <h1 class="Raleway-Light mb-0">¿Tienes un espacio que nos rentes para poner publicidad?</h1>
    </div>
    <div class="col-12">
      <div class="row  align-items-center background_color_grey">
        <div class="col text-center">
          <h2 class="Raleway-Light">Genera dinero extra para tu negocio facilmente</h2>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <img class="w-100 h-100" src="/static/provisional/img/AD-13.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 py-5 text-center">
      <h1 class="mb-0">Qué hacemos</h1>
    </div>
    <div class="col-12">
      <div class="row  align-items-center">
        <div class="col text-center">
          <h2 class="Raleway-Light">Necesitamos espacios para poder poner anuncios en:</h2>
        </div>
        <div class="col text-center">
          <h2 class="Raleway-Light">Nosotros buscamos al cliente para que anuncie en tu espacio sus productos o servicios</h2>
        </div>
      </div>
    </div>
    <div class="col-12 pb-5">
      <div class="row">
        <div class="col-sm-4">
          <div class="jumbotron p-3 mb-1 text-center">
            <h4 class="mb-0">Medidas y materiales sugeridos</h4>
          </div>
          <div class="jumbotron py-3 px-4">
            <dl>
              <dt><h2>Póster</h2></dt>
              <dd>30 x 40 cm</dd>
              <dd>50 x 70 cm</dd>
              <dd>60 x 90 cm</dd>
              <dt><h2>Material</h2></dt>
              <dd>Back light</dd>
              <dd>Cartón corrugado</dd>
              <dd>Cartulina</dd>
              <dd>Coroplast <small>(corrugado plástico)</small></dd>
              <dd>Lámina de estireno</dd>
              <dd>Lámina de ﬁerro</dd>
              <dd>Lona</dd>
              <dd>Papel</dd>
              <dd>Trovicel <small>(lámina de PVC espumado)</small></dd>
              <dd>Viníl auto adherible</dd>
              <dd>Viníl electroestático otros</dd>
            </dl>
          </div>
        </div>
        <div class="col-sm-8">
          <h1 class="mb-4">¿Cómo funciona?</h1>
          <div class="row">
            <div class="col-12 div_lista d-flex align-items-start mb-4">
              <h1 class="lista">1</h1>
              <h1 class="Raleway-Light">Registras tu espacio en la página de www.ADXPACE.com</h1>
            </div>
            <div class="col-12 div_lista d-flex align-items-start mb-4">
              <h1 class="lista">2</h1>
              <h1 class="Raleway-Light">Te mandamos la publicidad</h1>
            </div>
            <div class="col-12 div_lista d-flex align-items-start mb-4">
              <h1 class="lista">3</h1>
              <h1 class="Raleway-Light">Tú colocas la publicidad, y la dejas el tiempo convenido.</h1>
            </div>
            <div class="col-12 div_lista d-flex align-items-start mb-4">
              <h1 class="lista">4</h1>
              <h1 class="Raleway-Light">Nos mandas una foto desde la aplicación de la publicidad colocada.</h1>
            </div>
            <div class="col-12 div_lista d-flex align-items-start mb-4">
              <h1 class="lista">5</h1>
              <h1 class="Raleway-Light">Nos envías tu factura o recibo por e-mail.</h1>
            </div>
            <div class="col-12 div_lista d-flex align-items-start mb-4">
              <h1 class="lista">6</h1>
              <h1 class="Raleway-Light">Te depositamos en tu cuenta.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 pb-5 text-center">
    <a href="{{link}}"><h1 class="btn-primary py-3">Registra tu espacio</h1></a>      
    </div>
    <footer class="text-center">
      <a class="adxpace" href="#">2018 ADXPACE.COM</a>
      <a class="termin" href="#">Privacy</a>
      <a class="termin" href="#">Terms</a>
    </footer>
  </div>
</body>
</html>
