{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/top_bar.html' %}
<div class="container curve_container" style="">
  <div class="col">
    <div class="row">
      <table class="table">
        <tr>
          <th>id_local</th>
          <th>id_propietario</th>
          <th>foto</th>
        </tr>
        {% for local in locales %}
        <tr>
          <td>{{local.pk}}</td>
          <td>{{local.propietario.pk}}</td>
          <td><img src="{{local.foto.src}}" alt="{{local.foto.src}}" style="border-radius: 8px; width:25%; height:10%; "></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
