<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/static/register/css/main.css">  
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
<body style="background-color: #f8f9fa; color: black; font-family: 'Open Sans', sans-serif">
  <div id="app">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
  <script src="/static/provisional/library/jquery/jquery.v3.2.1.min.js"></script>
  <script src="/static/provisional/library/tether-1.3.3/js/tether.min.js"></script>
  <script src="/static/provisional/library/bootstrap/bootstrap-4.0.0-alpha/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
  <script src="/static/provisional/js/markerclusterer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
