
.curve_container{
  margin-top: 100px;
}
.curve_img
{
  margin-bottom: 20px;
  margin-top: 80px;
  text-align: center;
  width: 100%;

}
.curve_img div img{
  width: 300px;
  height: 300px;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #C94035;
  border: none;
  border-radius: 15px;
  -webkit-transition: background-color 3s; /* For Safari 3.1 to 6.0 */
  transition: background-color 3s;
  box-shadow: 4px 2px #888888;
}

.black {
  color: #fff;
  text-align: center;
  font-weight: bold;
  height:40px;
  width: 200px;
  padding: 10px;
  border: solid 1px #1F1F1F;
  border-radius: 15px;
  background: #1F1F1F;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#1F1F1F));
  background: -moz-linear-gradient(top,  #666,  #000);
  box-shadow: 4px 2px #888888;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.form-control:focus{
    border-color: #b30000;
    box-shadow: none;
}
.form-control{
border: 4px  #B7443C solid;
}
