{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/dixon/top_bar.html' %}
<div class="container">
  <div class="col">
      <h1 style="text: bold; color: black; font-family: 'Patua One'" class="text-center">
          Dixon
        </h1>
  </div>
  <div class="col">
    <div class="row mt-5">
      <div class="col-md-3">
      </div>
      <div class=" col-md-6">


      <div class="d-flex flex-sm-row align-items-center">
        <table class="table table-striped">
          <tr>
            <th>id</th>
            <th>Sucursal</th>
            <th>Ubicacion</th>
          </tr>
          {% for sucursal in sucursales %}
          <tr>
            <td> <a style="color: #6f42c1"href="/dixon_sucursal/{{sucursal.pk}}">{{sucursal.pk}}</a> </td>
            <td>{{sucursal.sucursal}}</td>
            <td>{{sucursal.geo_localidad}}</td>
          </tr>
          {% endfor %}
        </table>
        </div>
        <div class="d-flex flex-sm-row align-items-center">
          <p>Agregar sucursal: <a href="/dixon_asociar">Click</a></p>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    </div>
<div class="col-md-3">
</div>
</div>
  <div class="map" hidden>

  </div>
</div>

{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
