{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/dixon/top_bar.html' %}
<div class="container">
  <br><br>
  <div class="col">
    <div class="row py-3">
      <div class="col-md-3">
      </div>
      <div class=" col-md-6">


      <div class="d-flex flex-sm-row align-items-center">
        <table class="table">
          <tr>
            <th>id</th>
            <th>Sucursal</th>
            <th>Ubicacion</th>
            <th>Contador</th>
          </tr>
          {% for sucursal in sucursales %}
          <tr>
            <td> <a href="/dixon_sucursal/{{sucursal.pk}}">{{sucursal.pk}}</a></td>
            <td>{{sucursal.sucursal}}</td>
            <td>{{sucursal.geo_localidad}}</td>
            <td>{{sucursal.contador}}</td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <br>
  <h2 class="text-center font-weight-bold">
    Sucursal-Propietario
  <div class="row">

    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        <div class="form-row align-items-center">
          <div class="col-auto">
            <input type="number" class="form-control mb-2" id="inlineFormInput" placeholder="Id sucursal" name="sucursal">
          </div>
          <div class="col-auto">
            <input type="number" class="form-control mb-2" id="inlineFormInput" placeholder="Id espacio" name="espacio">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Guardar</button>
        </div>
      </div>
      </form>
    </div>
<div class="col-md-3">

</div>
</div>
  <div class="map" hidden>

  </div>
</div>

{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
