{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/dixon/top_bar.html' %}
<div class="container">
  <div class="col">
    <div class="row py-3">
      <div class="d-flex flex-sm-row align-items-center">
        <table class="table">
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido_paterno</th>
          </tr>
          {% for propietario in propietarios %}
          <tr>
            <td> <a href="/curves_propietario/{{propietario.pk}}">{{propietario.pk}}</a> </td>
            <td>{{propietario.nombre}}</td>
            <td>{{propietario.apellido_paterno}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="map" hidden>

  </div>
</div>
{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
