{% extends 'provisional/provisional_base.html' %}
{% block content %}

<div class="container">
{% include 'provisional/top_bar.html' %}
<br>
<br>
<h1 class="text-center font-weight-bold">Guardar datos de espacio</h1>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
<form class="" method="post"> {% csrf_token %}

    <input class="form-control" name="sucursal" type="text" placeholder="Sucursal"  required>
    <br>
    <div  class="form-inline">
        <div class="form-group mx-sm-3">
            <input class="form-control" name="latitud"  placeholder="latitud"  required>
        </div>
        <div class="form-group mx-sm-3">
          <input class="form-control" name="longitud"  placeholder="longitud"  required>
        </div>
    </div>
    <br>
    <div class="form-row text-center">
      <div class="col-12">
        <button type="submit" class="btn btn-primary mb-2">Registrar</button>
    </form>
      </div>

    </div>

</div>
<div class="col-md-3">
</div>
</div>
</div>
{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
