{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/dixon/top_bar.html' %}
<div class="container">
  <div class="col">
    <div class="row">
      <h3>Nombre de la sucursal: {{sucursal.sucursal}}</h3>
    </div>
    <div id="map"></div>
    <br><br>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="card" v-show="show" style="width: 22rem;">
          <img id="img" @load="card" v-bind:class="imgClass" v-bind:src="imagen" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-subtitle mb-2 text-muted">${'$'}${precio | formatearNumero}</h4>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div id="espacio_dixon">
          <v-client-table :data="tableData" :columns="columns" :options="options">

            <a slot="pk" slot-scope="props" href="#" v-on:click="showImage($event, props.row)">
              ${props.row.pk}
            </a>
            <template slot="precio" slot-scope="props">
              <span>${'$'} ${props.row.precio | formatearNumero}</span>
            </template>
            <template slot="foto" slot-scope="props">
              <div id="espacio">
                <img @load="rotate_on_load($event)" v-bind:src="props.row.foto" alt="" type="submit" class="img-fluid img-thumbnail orientacion">
              </div>
            </template>
          </v-client-table>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad_dixon_roma.html' %}
{% endblock %}
