<nav style="font-family: 'Arial' background-color: #f8f9fa; color: #fd7e14"class="navbar navbar-expand-lg navbar-light ">
  <a style="text: bold; color: red" v-on:click.prevent="home" href="#" class="navbar-brand">ADXSPACE</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>
