/*! Isaac Alejandro López Castrejón | 2017 */
@font-face
{
    font-family:'Raleway Black';
    src:url(../fonts/Raleway-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Black Italic';
    src:url(../fonts/Raleway-BlackItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Bold';
    src:url(../fonts/Raleway-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Extra Bold';
    src:url(../fonts/Raleway-ExtraBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Extra Bold Italic';
    src:url(../fonts/Raleway-ExtraBoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Extra Light';
    src:url(../fonts/Raleway-ExtraLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Extra Light Italic';
    src:url(../fonts/Raleway-ExtraLightItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Italic';
    src:url(../fonts/Raleway-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Light';
    src:url(../fonts/Raleway-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Light Italic';
    src:url(../fonts/Raleway-LightItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Medium';
    src:url(../fonts/Raleway-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Medium Italic';
    src:url(../fonts/Raleway-MediumItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Regular';
    src:url(../fonts/Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway SemiBold';
    src:url(../fonts/Raleway-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway SemiBold Italic';
    src:url(../fonts/Raleway-SemiBoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Thin';
    src:url(../fonts/Raleway-Thin.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face
{
    font-family:'Raleway Thin Italic';
    src:url(../fonts/Raleway-ThinItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

body
{
    font-family: 'Raleway Regular', 'Raleway Light', 'Raleway Extra Light';
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Raleway Bold', 'Raleway Regular', 'Raleway Light', 'Raleway Extra Light';
}

.Raleway-Black
{
    font-family:'Raleway Black';
}

.Raleway-Black-Italic
{
    font-family:'Raleway Black Italic';
}

.Raleway-Bold
{
    font-family:'Raleway Bold';
}

.Raleway-Extra-Bold
{
    font-family:'Raleway Extra Bold';
}

.Raleway-Extra-Bold-Italic
{
    font-family:'Raleway Extra Bold Italic';
}

.Raleway-Extra-Light
{
    font-family:'Raleway Extra Light';
}

.Raleway-Extra-Light-Italic
{
    font-family:'Raleway Extra Light Italic';
}

.Raleway-Italic
{
    font-family:'Raleway Italic';
}

.Raleway-Light
{
    font-family:'Raleway Light';
}

.Raleway-Light-Italic
{
    font-family:'Raleway Light Italic';
}

.Raleway-Medium
{
    font-family:'Raleway Medium';
}

.Raleway-Medium-Italic
{
    font-family:'Raleway Medium Italic';
}

.Raleway-Regular
{
    font-family:'Raleway Regular';
}

.Raleway-SemiBold
{
    font-family:'Raleway SemiBold';
}

.Raleway-SemiBold-Italic
{
    font-family:'Raleway SemiBold Italic';
}

.Raleway-Thin
{
    font-family:'Raleway Thin';
}

.Raleway-Thin-Italic
{
    font-family:'Raleway Thin Italic';
}