{% extends 'login/base.html' %}

{% block content %}

<div class="container">
  <div class="row my-3">
    <div class="col"></div>
    <div class="col">
      <img src="/static/provisional/img/logo.png" width="460" height="auto" >
      <div class="col-md-12">
        <h1><center>{{group}}</center></h1>
      </div>
      <form method="post" class="my-3">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario:</label>
          <input type="text" class="form-control"  id="exampleInputEmail1" name="username">
          <small id="emailHelp" class="form-text text-muted">nombre de usuario</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña:</label>
          <input type="password" class="form-control " id="exampleInputPassword1" name="password">
          <small id="emailHelp" class="form-text text-muted">contraseña</small>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="button">Iniciar Sesión</button>
          </div>
        </div>
        <div class="form-group">
          {% if messages %}
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message|safe|escape }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}
