<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>No. de Promotores:
          <span class="badge badge-secondary">{{$store.state.asistente.data_promotores.length}}/{{$store.state.asistente.data_promotores.length}}</span>
        </h5>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>No. de Propietarios:
          <span class="badge badge-secondary"> {{$store.state.asistente.data_propietarios.length}}/{{$store.state.asistente.data_propietarios_count}} </span>
        </h5>
      </div>
      <div class="col-md-8">
        <div class="progress">
          <div class="progress-bar" role="progressbar" v-bind:style="{width: $store.state.asistente.data_propietarios.length/$store.state.asistente.data_propietarios_count*100 + '%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>No. de Espacios:
          <span class="badge badge-secondary">{{$store.state.asistente.data_espacios.length}}/{{$store.state.asistente.data_espacios_count}}</span>
        </h5>
      </div>
      <div class="col-md-8">
        <div class="progress">
          <div id="barra_espacios" class="progress-bar" role="progressbar" v-bind:style="{width: $store.state.asistente.data_espacios.length/$store.state.asistente.data_espacios_count*100 + '%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>No. de Locales:
          <span class="badge badge-secondary">{{$store.state.asistente.data_locales.length}}/{{$store.state.asistente.data_locales_count}}</span>
        </h5>
      </div>
      <div class="col-md-8">
        <div class="progress">
          <div class="progress-bar" role="progressbar" v-bind:style="{width: $store.state.asistente.data_locales.length/$store.state.asistente.data_locales_count*100 + '%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AsistenteDatos',
  components: {
  },
  computed:{
  },
  mounted() {
    
  },
  data() {
    return {
      styleEspacios: '75%',
    }
  },
  methods:{
  }
}
</script>
