<template>
  <div>
    <AsistenteMenu/>
    <AsistenteDatos/>
    <AsistenteBotones/>
    <AsistentePromotores/>
  </div>
</template>

<script>
import AsistenteBotones from '@/components/Pilot/Asistente/AsistenteBotones'
import AsistenteDatos from '@/components/Pilot/Asistente/AsistenteDatos'
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import AsistentePromotores from '@/components/Pilot/Asistente/AsistentePromotores'


export default {
  name: 'AsistenteLanding',
  components: {
    AsistenteBotones,
    AsistenteDatos,
    AsistenteMenu,
    AsistentePromotores,
  },
}
</script>
