<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="table table-striped">
            <tr>
              <th class="single" scope="col">Promotor</th>
              <th class="single" scope="col">Promociones</th>
              <th class="single" scope="col">Contactar</th>
            </tr>
            <tr v-for="(promotor, index) in promotores">
              <td class="double">
                <a href="#">
                  <b>+</b>
                </a>
                <p class="lspace">
                  {{ promotor.primer_nombre }} {{ promotor.apellido_paterno }}
                </p>
              </td>
              <td class="double">
                <span class="badge badge-secondary">
                  {{promotor.promociones[0]}}
                </span>
                <span class="badge green-badge-secondary">
                  {{promotor.promociones[1]}}
                </span>
                <span class="badge red-badge-secondary">
                  {{promotor.promociones[0] - promotor.promociones[1]}}
                </span>
                <span class="badge badge-secondary">
                  {{promotor.promociones[2]}}
                </span>
              </td>
              <td class="double">
                <a @click.prevent="sendMail(promotor.email)" href="#">
                  <span class="far fa-envelope"></span>
                </a>
                <a @click.prevent="callPhone(promotor.telefono)" href="#">
                  <span class="fas fa-mobile-alt"></span>
                </a>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import AsistenteDatos from '@/components/Pilot/Asistente/AsistenteDatos'
import AsistenteBotones from '@/components/Pilot/Asistente/AsistenteBotones'
export default {
  name: 'Asistente',
  components: {
    AsistenteDatos,
    AsistenteBotones
  },
  computed:{
    ...mapState({
      promotores: state => state.asistente.data_promotores
    })
  },
  mounted() {
    
    if(this.promotores.length > 0)
    {
      
    }else{
      
      this.set_asistente_data()
    }
    
  },

  data() {
    return {
    }
  },

  methods:{

    async set_asistente_data(){
      await this.$store.dispatch('asistenteData')
    },
    sendMail(email){
      window.location.href = 'mailto:' + email
    },
    callPhone(telefono){
      window.location.href ='tel:+52' + telefono
    },
  }
}
</script>

<!-- Componente specific css atributes -->


<style scoped>
p.lspace {
  padding-left: 1.2em
}

p.sspace {
  padding-left: 0.6em
}

.green-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 167, 69, 1);
}

.yellow-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 193, 7, 1);
}

.red-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(220, 53, 69, 1);
}
</style>
