<template>
  <div>
   
    <AsistenteMenu/>
    <AsistenteBotones/>
    <div class="container">
      
      <form>
        <div id='propietarios'>
          <v-client-table :data="rows" :columns="columns" :options="options">
            <template slot="pk" slot-scope="props">
              <div id='propietario'>
                <a v-bind:nr="props.row.k" @click.prevent="editarPropietario(props.row.k)" href="#">
                  <!-- {{ props.row.propietario }} -->
                  {{props.row.pk}}
                </a>
              </div>
            </template>
            <!-- <template slot="espacios" slot-scope="props">
              <div id='espacios'>
                <a v-bind:nr="props.row.propietario" @click.prevent="editarEspacio(props.row.id)" href="#">
                  {{ props.row.espacios }}
                </a>
              </div>
            </template> -->
          </v-client-table>
        </div> 
      </form>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import AsistentePropietario from '@/components/Pilot/Asistente/AsistentePropietario'
import AsistenteEspacio from '@/components/Pilot/Asistente/AsistenteEspacio'
import {ClientTable} from 'vue-tables-2'
import AsistenteBotones from '@/components/Pilot/Asistente/AsistenteBotones'
// import moment from 'moment'
 import daterangepicker from 'daterangepicker'

Vue.use(ClientTable)

 window.moment = require('moment')

export default {
  name: 'Asistente',
  components: {
    AsistenteMenu,
    AsistenteBotones

  },
  computed: {
    ...mapGetters({
    
      asistente_get_propietarios:'asistente_get_propietarios',

    })
  },

async mounted() {
     this.set_asistente_propietarios()
  },
  data() {
    return {
      theme: 'bootstrap4',
      // columns: [
      //   'nr',
      //   'propietario', 'promotor',
      //   'estatus', 'estatus_bancario', 
      //   'fecha',
      //   'espacios',
      //   'email', 'telefono',
        
      // ],
      columns: [
        'pk',
        'username',
        'nombre_promotor',
        'nombre', 
        'estatus', 'estatus_bancario',
        'fecha_de_registro'
        , 
      ],
      rows: [],
      options: {
        headings: {
          // 'fecha': 'Fecha (de Estatus)',
          'username':'Username',
          'nombre_promotor':'Nombre del Promotor',
          'nombre' : 'Nombre Propietario',
          'estatus_bancario' : 'Estados Bancario',
          'fecha_de_registro' : 'Fecha de Registro'
        },
        headingsTooltips: {
          'nombre':'Filtrar por nombre'
        },
        texts: {
          filter: '',
          filterBy: '{column}',
        },
         dateFormat: 'DD-MM-YYYY',
         dateColumns: ['fecha_de_registro'],
         toMomentFormat: true,
         datepickerOptions: {
           autoUpdateInput: true,
           autoApply: true,
           expanded: true,
           showDropdowns: true,
           opens: 'center',
           drops: 'down',
           locale: {
             cancelLabel: 'Cancelar',
             applyLabel: 'Seleccionar'
           },
           timeZone: null,
           firstDayOfWeek: 1,
           startDate: moment().startOf('year'),
           endDate: moment(),
           ranges: {
             'Hoy': [moment(), moment()],
             'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
             'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
             'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
             'Este mes': [moment().startOf('month'), moment().endOf('month')],
             'Mes anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
             'Este año': [moment().startOf('year'), moment()],
             'Año anterior': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
           },
         },
    
        filterByColumn: true,
        // perPage:2,
        filterable: [

          'pk',
          'username',
          'nombre_promotor',
          'nombre',
          'fecha_de_registro',
          'estatus',
          'estatus_bancario',
          
          ],
        sortable: true,
        listColumns: {
          estatus: [{
            id: '',
            text: '...'
            },
            {
            id: 'P',
            text: 'P'
            },
            {
            id: 'I',
            text: 'I'
            },
            { 
            id: 'R',
            text: 'R'
            }],
          estatus_bancario: [{
            id: '',
            text: '...'
            },
            {
            id: 'IE',
            text: 'IE'
            },
            {
            id: 'ID',
            text: 'ID'
            },
            {
            id: 'OK',
            text: 'OK'
            }],
          },
          pagination: {
            chunk:25,
            dropdown: true,
            esdge: true,
          },
          sortIcon:{
            base:'fa fas',
            is:'fa-sort',
            up: 'fa-sort-alpha-asc',
            down: 'fa-sort-alpha-desc'
          },

          highlightMatches: true,
          perPageValues: [10,25,50,100, 200, 1000],
        },

        // edit:{
        //   index: '',
        //   estatus: '',
        //   email: '',
        //   telefono: '',
        //   primer_nombre: '',
        //   apellido_paterno: '',
        //   apellido_materno: '',
        // },
        status_R :0,
        status_P :0,
        status_I :0


      }
    },

    watch: {
      'edit.email': function () {
        this.toggle_email_telefono()
      },
      'edit.telefono': function () {
        this.toggle_email_telefono()
      },
    },

    methods:{
      set_asistente_propietarios(){
        
        this.rows = this.asistente_get_propietarios
        
        // this.rows = this.get_propietarios
        // let status = this.asistente_propietarios.estatus


        // for (let i = 0; i < this.asistente_propietarios.length; i++) {
        //   if(this.asistente_propietarios[i].estatus == 'R'){
        //     this.status_R =  this.status_R + 1
        //   }else{
        //     if(this.asistente_propietarios[i].estatus == 'P'){
        //       this.status_P =  this.status_P + 1
        //     }else{
        //       if(this.asistente_propietarios[i].estatus == 'I'){
        //         this.status_I =  this.status_I + 1
        //       }
        //     }
        //   }

        // }

      },
      isR(estatus) {
        if(estatus == 'R') {
          return true
        }
        else {
          return false
        }
      },
      sendMail(email) {
        window.location.href = 'mailto:' + email
      },
      callPhone(telefono) {
        window.location.href ='tel:+52' + telefono
      },
      add_class_is_invalid(input_block) {
        if (input_block != '') {
          return false
        }
        else{
          return true
        }
      },
      toggle_email_telefono() {
        if (!this.edit.email && !this.edit.telefono) {
          $("input[name='email']").addClass('is-invalid')
          $("input[name='telefono']").addClass('is-invalid')
        }
        if (this.edit.email || this.edit.telefono) {
          $("input[name='email']").removeClass('is-invalid')
          $("input[name='telefono']").removeClass('is-invalid')
        }
      },
      toggle_is_invalid(event) {
        if (event.target.value == '') {
          $(event.target).addClass('is-invalid')
        }
        $(event.target).removeClass('is-invalid')
      },
      async assistenteGetPropietarios() {
        await this.$store.dispatch('getPropietarios')
      },

    async editarPropietario(row_id) {
        // let index = row_id - 1
        let index = row_id -1
        this.$store.commit('ASISTENTE_SET_ROW_NR', index)
        this.$router.push({path: '/asistente/propietarios/propietario'})
      },
      

    }
  }
  </script>

  <!-- Componente specific css atributes -->

  <style scoped>
  p.lspace {
    padding-left: 1.2em;
  }

  p.sspace {
    padding-left: 0.6em;
  }
  </style>

  <style scoped>
  .green-badge-secondary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(40, 167, 69, 1);
  }

  .yellow-badge-secondary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 193, 7, 1);
  }

  .red-badge-secondary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(220, 53, 69, 1);
  }
  </style>
