<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a  v-on:click.prevent="home" href="#" class="navbar-brand">ADXSPACE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a v-on:click.prevent="home" class="nav-link" href="#">PROMOTORES</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="propietarios" class="nav-link" href="#">PROPIETARIOS</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="espacios" class="nav-link" href="#">ESPACIOS</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="locales" class="nav-link" href="#">LOCALES</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="logout" class="nav-link" href="#">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>

<script>
import api from '@/store/api'
export default {
  computed:{
  },
  mounted(){

  },
  data () {
    return {
    }
  },
  methods:{
    async logout(){
      await this.$store.dispatch('logout')
    },
    home(){
      this.$router.push({path: '/asistente'})
    },
    promotores(){
      this.$router.push({path: '/asistente'})
    },
    async propietarios() {
      this.$router.push({path: '/asistente/propietarios'})
    },
    async espacios() {
      this.$router.push({path: '/asistente/espacios'})
    },
    async locales(){
      this.$router.push({path:'/asistente/locales'})
    },
  }
}
</script>
<style>
   nav + div{
     padding-top: 100px;
   }
</style>
