<template>
  <div>
    <AsistenteMenu/>
    <div class="container">
      <h4 class="my-4">Fotografia</h4>
      <div class="text-center">
        <label v-if="imageData.length == 0" class="btn btn-picture">
        <!-- <label v-if="imageData" class="btn btn-picture">   -->
          <i class="fas fa-camera fa-5x"></i>
          <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;">
        </label>
        <div class="image-preview" v-if="imageData.length>0">
          <!-- <div class="image-preview" v-if="imageData"> -->
          <div class="row">
            <div class="col-12">
              <img class="preview" :src="imageData">
            </div>
          </div>
          <div class="gab"></div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
              <span>
                <a @click.prevent="clearImageData" href="#">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </a>
              </span>
            </div>
            <div class="col-3">
              <span>
                <a @click.prevent="cancelar" href="#">
                  <i class="fas fa-reply fa-2x"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <h4 class="my-4">Ubicación</h4>
      <div class="form-group">
        <div id="map"></div>
      </div>
      <form class="form-wrapper">
        <label class="my-6">Nombre del Local</label>
        <input v-model="local.nombre_comercial" @keyup='toggle_is_invalid($event)' type="text" class="form-control is-invalid" placeholder="...">
        <div class="invalid-feedback">
          Campo requerido.
        </div>
      </form>
      <h4>Direccion</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-4">
            <div class="form-group">
              <label>Calle</label>
              <input v-model="local.calle" @keyup='toggle_is_invalid($event)' type="text" class="form-control is-invalid"  placeholder="...">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Numero Exterior</label>
              <input v-model="local.numero_exterior" @keyup='toggle_is_invalid($event)' type="text" class="form-control is-invalid"  placeholder="0">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Numero Interior</label>
              <input v-model="local.numero_interior" type="text" class="form-control is-invalid" placeholder="0">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Colonia</label>
              <input v-model="local.colonia" type="text" class="form-control is-invalid" placeholder="...">
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <label class="my-5">Municipio</label>
              <input v-model="local.municipio" type="text" class="form-control is-invalid" placeholder="...">
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <label class="my-5">Estado</label>
              <input v-model="local.estado" type="text" class="form-control is-invalid" placeholder="...">
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label class="my-5">Codigo Postal</label>
              <input v-model="local.codigo_postal" type="number" class="form-control is-invalid" placeholder="...">
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
      <form class="form-wrapper">
        <div class="row submitrow">
          <div class="col-md-4 col-sm-2">
            <button @click.prevent="LocalPost" class="btn btn-secondary btn-block">Guardar</button>
          </div>
          <div class="col-md-4 col-sm-2">
            <button @click.prevent="cancelar" class="btn btn-secondary btn-block">Regresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import { mapGetters } from 'vuex'
export default {
  name: 'Asistente',
  components: {
    AsistenteMenu,
  },
  computed:{
    ...mapGetters({
     // get_locales : 'get_locales',
    
      asistente_get_locales : 'asistente_get_locales'
    })
  },
  mounted(){
    console.log(this.asistente_get_locales[this.$store.state.asistente.row_nr])
    this.setLocal()
    this.initMap()
  },
  data(){
    return{
      alert_message:'',
      imageData: '',
      update_foto: false,
      local: {
        pk:0,
        nombre_comercial: '',
        espacio_tipo:'',
        propietario: 0,
        //direccion:{
        calle:'',
        numero_exterior:'',
        numero_interior: '',
        colonia: '',
        municipio: '',
        codigo_postal: '',
        estado: '',
        //},
        api_call: 'actualizar',





      }
    }
  },
  methods:{
    setLocal(){
      let nr = this.$store.state.asistente.row_nr

      //if(nr > -1){
      //   if(this.get_locales[nr].foto != false){
      //     this.imageData = this.get_locales[nr].foto
      //   }


      //   this.local.pk = this.get_locales[nr].nr
      //   this.local.nombre_comercial = this.get_locales[nr].nombre_comercial
      //   this.local.espacio_tipo = this.get_locales[nr].espacio_tipo
      //   this.local.propietario = this.get_locales[nr].propietario_pk
      //   this.local.api_call = 'actualizar'
      //   this.local.id = this.get_locales[nr].id
      //   this.local.id1 = this.get_locales[nr].id1
      //   this.local.id2 = this.get_locales[nr].id2
      //   this.local.id3 = this.get_locales[nr].id3
      //   this.local.source = this.get_locales[nr].source
      //   // this.local.geo_localidad = this.geo_locales[nr].geo_localidad
      //   this.local.latitud = Number(this.get_locales[nr].geo_localidad[0])
      //   this.local.longitud = Number(this.get_locales[nr].geo_localidad[1])
      //   //--------direccion-------------
      //   // this.local.direccion.calle = this.get_locales[nr].calle
      //   // this.local.direccion.numero_exterior = this.get_locales[nr].numero_exterior
      //   // this.local.direccion.numero_interior = this.get_locales[nr].numero_interior
      //   // this.local.direccion.colonia = this.get_locales[nr].colonia
      //   // this.local.direccion.municipio = this.get_locales[nr].municipio
      //   // this.local.direccion.codigo_postal = this.get_locales[nr].codigo_postal
      //   // this.local.direccion.estado = this.get_locales[nr].estado
      //   this.local.calle = this.get_locales[nr].calle
      //   this.local.numero_exterior = this.get_locales[nr].numero_exterior
      //   this.local.numero_interior = this.get_locales[nr].numero_interior
      //   this.local.colonia = this.get_locales[nr].colonia
      //   this.local.municipio = this.get_locales[nr].municipio
      //   this.local.codigo_postal = this.get_locales[nr].codigo_postal
      //   this.local.estado = this.get_locales[nr].estado
      //   document.body.scrollTop = document.documentElement.scrollTop = 0
        if( nr > -1){
        if(this.asistente_get_locales[nr].foto != null){
            this.imageData = this.asistente_get_locales[nr].foto
          }
          this.local.pk = this.asistente_get_locales[nr].pk
          this.local.id1 = this.asistente_get_locales[nr].id1

          this.local.nombre_comercial = this.asistente_get_locales[nr].nombre_comercial
          this.local.espacio_tipo = this.asistente_get_locales[nr].espacio_tipo
          this.local.api_call = 'actualizar'
          this.local.latitud = Number(this.asistente_get_locales[nr].geo_localidad.latitud)
          this.local.longitud = Number(this.asistente_get_locales[nr].geo_localidad.longitud)
          this.local.calle = this.asistente_get_locales[nr].direccion.calle
          this.local.numero_exterior = this.asistente_get_locales[nr].direccion.numero_exterior
          this.local.numero_interior = this.asistente_get_locales[nr].direccion.numero_interior
          this.local.colonia = this.asistente_get_locales[nr].direccion.colonia
          this.local.municipio = this.asistente_get_locales[nr].direccion.municipio
          this.local.codigo_postal = this.asistente_get_locales[nr].direccion.codigo_postal
          this.local.estado = this.asistente_get_locales[nr].direccion.estado
      }
      },
  

    previewImage(event){
      this.imageFile = this.$refs.file.files[0]
      var input = event.target
      var instance = this
      if(input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e){
          instance.imageData = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      }
    },
    clearImageData(){
      this.imageData = ''
      this.update_foto = true
    },
    toggle_is_invalid(event) {
      if (event.target.value == '') {

        $(event.target).addClass('is-invalid')

      }

      $(event.target).removeClass('is-invalid')
    },
    async LocalPost()
    {
      console.log(this.local)
      this.alert_message = 'Guardar direccion'
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      await this.$store.dispatch('AsistenteLocalPost', this.local)
      if(this.$store.state.asistente.response.response && this.imageFile){
        let formData = new FormData()
        formData.append('api_call', this.local.api_call)
        formData.append('imageFile', this.imageFile)
        formData.append('localImagen', this.$store.state.asistente.response.local.pk)
      await this.$store.dispatch('asistenteUploadFotoLocal', formData)
      // console.log(this.$store.state.asistente.current_espacio_edit)
      }
      this.$router.push({path: '/asistente/locales'})
    },
    cancelar(){
      this.$router.push({path: '/asistente/locales'})
    },
    initMap(){
      var uluru = {lat: this.local.latitud, lng: this.local.longitud}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 18
      })
      this.marker = new google.maps.Marker({
        position: uluru,
        draggable: true,
        map: this.map
      })
      var instance = this
      var marker = this.marker

      google.maps.event.addListener(marker, 'dragend', function(marker){
        instance.local.latitud = marker.latLng.lat()
        instance.local.longitud = marker.latLng.lng()
      })

      var map = this.map
      google.maps.event.addListener(map, 'click', function(event){
        var marker=event
        var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

        instance.marker.setPosition(Latlng)
        instance.map.setCenter(instance.marker.getPosition())
        instance.espacio.latitud = marker.latLng.lat()
        instance.espacio.longitud = marker.latLng.lng()
      })
    },

  }
}
</script>
