<template>
  <div>
    <AsistenteMenu/>    
    <section>
      <div class="container">
        <h4 class="my-4">Información fiscal</h4>
        <div class="form-wrapper">
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input @change="checkFactura()" type="radio" class="form-check-input" name="optionsRadios" value="1" v-model="datos_comerciales.factura"> Doy Factura
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input @change="checkFactura()" type="radio" class="form-check-input" name="optionsRadios" value="0" v-model="datos_comerciales.factura"> No doy factura
              </label>
            </div>
          </fieldset>
          <div class="form-group">
            <label for="InputRFC1">RFC</label>
            <input type="text" class="form-control" id="InputRFC" placeholder="Escriba su RFC" v-model="datos_comerciales.rfc">
          </div>
        </div>
        <h4 class="my-4">Información bancaria</h4>
        <div class="form-wrapper">
          <div class="form-group">
            <label for="InputBanco1">Banco:</label>
            <input type="text" class="form-control" id="InputBanco1" placeholder="Escriba el nombre de su banco" v-model="datos_bancarios.banco">
          </div>
          <div class="form-group">
            <label for="InputClave1">Cuenta CLABE o Tarjeta de débito: </label>
            <input type="text" class="form-control" id="InputClave1" placeholder="CLABE o Tarjeta" v-model="datos_bancarios.numero_de_cuenta">
          </div>
          <div class="form-group">
            <label for="InputCuenta1">Titular de la cuenta:</label>
            <input type="text" class="form-control" id="InputCuenta1" placeholder="Titular" v-model="datos_bancarios.titular">
          </div>
        </div>
        <div class="form-wrapper">
          <div class="row">
            <!--
            <div class="col-md-6 col-sm-12">
              <button @click.prevent="guardar()" class="btn btn-secondary btn-block">Guardar</button>
            </div>
            -->
            <div class="col-md-12 col-sm-12">
              <button @click.prevent="regresar()" class="btn btn-secondary btn-block">Regresar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
export default {
  components: {
    AsistenteMenu,
  },

  mounted(){
    this.get_datos_bancarios()
    this.checkFactura()
  },
  data () {
    return {
      propietario: {
        id: -1,
      },
      radio:{
        'true': 1,
        'false': 0,
      }
    }
  },
  computed:{
    datos_bancarios(){
      return this.$store.state.asistente.propietario.datos_bancarios
    },
    datos_comerciales(){
      return this.$store.state.asistente.propietario.datos_comerciales
    }
  },
  methods: {
    async get_datos_bancarios(){
      let nr = this.$store.state.asistente.row_nr
      this.propietario.id = this.$store.state.asistente.propietarios[nr].propietario_pk
      console.log('propietario_pk: - nr: %s %s', nr, this.propietario)
      await this.$store.dispatch('asistenteGetDatosBancarios', this.propietario)
      if(this.$store.state.asistente.propietario.datos_comerciales.exists && this.$store.state.asistente.propietario.datos_comerciales.factura == true ) {
        this.datos_comerciales.factura = 1
      }
      else {
        this.datos_comerciales.factura = 0
      }
      document.body.scrollTop = document.documentElement.scrollTop = 0
    },
    checkFactura(){
      if (this.datos_comerciales.factura == 0){
        $('#InputRFC')[0].disabled = true
        $('#InputRFC')[0].placeholder = 'Activar facturación'
      }

      else{
        $('#InputRFC')[0].disabled = false
        $('#InputRFC')[0].placeholder = 'Escriba su RFC'
      }
    },
    async guardar(){
      var post_datos_bancarios= {}
      var post_datos_comerciales={}
      post_datos_bancarios.banco = this.datos_bancarios.banco
      post_datos_bancarios.numero_de_cuenta = this.datos_bancarios.numero_de_cuenta
      post_datos_bancarios.titular = this.datos_bancarios.titular
      post_datos_comerciales.factura = this.datos_comerciales.factura
      post_datos_comerciales.rfc = this.datos_comerciales.rfc

      await this.$store.dispatch('datos_bancarios', post_datos_bancarios)
      await this.$store.dispatch('datos_comerciales', post_datos_comerciales)
      this.$router.push({path: '/asistente/propietarios'})
    },
    regresar(){
      this.$router.push({path: '/asistente/propietarios'})
    }

  }
}
</script>
