<template>
  <div>
    <AsistenteMenu/>
    <AsistenteBotones/>
    <div class="container">

      
      <form>
        <div id="locales">
          <v-client-table ref="tablaLocales" :data="rows" :columns="columns" :options="options">
                      <template slot="propietario" slot-scope="props">
            <div id="propietario">
              {{props.row.propietario}}<br>
              <b>Tel:</b> {{props.row.propietario_telefono}}<br>
              <b>Email:</b> {{props.row.propietario_email}}
            </div>
          </template>
            <template slot="foto" slot-scope="props">
              <div id="local">
                <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 150px; height:120px;">
              </div>
            </template>
            <template slot="pk" slot-scope="props">
              <div id="childrow">
                <!-- <a v-bind:nombre_comercial="props.row.id" @click.prevent="editarLocal(props.row.id)" href="#"> -->
                  <a v-bind:nr="props.row.k" @click.prevent="editarLocal(props.row.k)" href="#">
                  <!-- {{props.row.nombre_comercial}} -->
                  {{props.row.pk}}
                </a>
              </div>
            </template>
          </v-client-table>
        </div>
      </form>
   
</template>
<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import AsistenteBotones from '@/components/Pilot/Asistente/AsistenteBotones'
import {ClientTable} from 'vue-tables-2';

import daterangepicker from 'daterangepicker'
window.moment = require('moment');
export default {
    name: 'Asistente',
    components: {
      AsistenteMenu,
      AsistenteBotones
    },
    computed:{
      ...mapGetters({

      asistente_get_locales:'asistente_get_locales',
      })
    },
    mounted() {
      this.set_asistente_propietarios()
      
    },
    data(){
      return{
        theme: 'bootstrap4',
        columns: [
          'pk',
          'username',
          'propietario',
          'nombre_comercial',
          'espacio_tipo',
          'colonia',
          'codigo_postal',
          'foto'
        ],
        rows: [],
        options:{
          headings : {
            'username' : 'Username',
            'nombre_comercial' : 'Nombre del Local',
            'espacio_tipo' : 'Tipo'
          },
          texts: {
            filter: '',
            filterBy: '{column}'
          },
          filterByColumn: true,
          filterable: [
            'username',
            'nombre_comercial',
            'espacio_tipo',
            'colonia',
            'codigo_postal'
          ],
          sortable: true,
          listColumns:{
            espacio_tipo: [{
              id: '',
              text: '...'
            },
            {
              id: 'P',
              text: 'P'
            },
            {
              id: 'C',
              text: 'C'
            }],
          },
          pagination: {
            dropdown: true,
            esdge: true,
          },
          sortIcon:{
            base:'fa fas',
            is:'fa-sort',
            up: 'fa-sort-alpha-asc',
            down: 'fa-sort-alpha-desc'
          },

          highlightMatches: true,
          perPageValues: [10,25,50,100, 200, 1000],
        },
        status_R :0,
        status_P :0,
        status_I :0
      }
    },
    methods:{
      set_asistente_propietarios(){
        
        // this.rows = this.get_locales
        this.rows = this.asistente_get_locales
        // for (let i = 0; i < this.asistente_propietarios.length; i++) {
        //   if(this.asistente_propietarios[i].estatus == 'R'){
        //     this.status_R =  this.status_R + 1
        //   }else{
        //     if(this.asistente_propietarios[i].estatus == 'P'){
        //       this.status_P =  this.status_P + 1
        //     }else{
        //       if(this.asistente_propietarios[i].estatus == 'I'){
        //         this.status_I =  this.status_I + 1
        //       }
        //     }
        //   }
          
        // }

           
      },
    async  editarLocal(row_id){
         let index = row_id - 1
        //let index = row_id
       this.$store.commit('ASISTENTE_SET_ROW_NR', index)
     
        this.$router.push({path: '/asistente/locales/local'})
      },
     
      cancelar(){
          this.$router.push({path: '/asistente/espacios'})
        },
    }
}
</script>

 <style scoped>
    p.lspace {
      padding-left: 1.2em
    }

    p.sspace {
      padding-left: 0.6em
    }

    .green-badge-secondary {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(40, 167, 69, 1);
    }

    .yellow-badge-secondary {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(255, 193, 7, 1);
    }

    .red-badge-secondary {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(220, 53, 69, 1);
    }

    .VuePagination {
      text-align: center;
    }

    .vue-title {
      text-align: center;
      margin-bottom: 10px;
    }

    .vue-pagination-ad {
      text-align: center;
    }

    tr td:nth-child(2) {
      width: 20px;
    }

    th:nth-child(3) {
      text-align: center;
    }

    .VueTables__child-row-toggler {
      width: 16px;
      height: 16px;
      line-height: 16px;
      display: block;
      margin: auto;
      text-align: center;
    }

    .VueTables__child-row-toggler--closed::before {
      content: "abrir";
    }

    .VueTables__child-row-toggler--open::before {
      content: "cerrar";
    }
    </style>