<template>
  <div>
    <AsistenteMenu/>
    <!-- Page Content -->
    <div class="container">
      <form class="form-wrapper">
        <div class="form-group">
          <label for="InputNombre1">Nombre</label>
          <input v-model="datos_personales.primer_nombre" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(datos_personales.primer_nombre)}]"
            placeholder="Nombre">
          <div class="invalid-feedback">
            Campo requerido.
          </div>
        </div>
        <div class="form-group">
          <label for="Inputapellidos1">Apellido paterno</label>
          <input v-model="datos_personales.apellido_paterno" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(datos_personales.apellido_paterno)}]"
            placeholder="Apellido paterno">
          <div class="invalid-feedback">
            Campo requerido.
          </div>
        </div>
        <div class="form-group">
          <label for="Inputapellidos2">Apellido materno</label>
          <input v-model="datos_personales.apellido_materno" type="text" class="form-control" placeholder="Apellido materno">
        </div>
        <div class="form-group">
          <label for="InputEmail1">Correo electrónico</label>
          <input v-model="datos_personales.email" type="email" class="form-control is-invalid" name="email" aria-describedby="emailHelp"
            placeholder="Correo electrónico" required>
          <div class="invalid-feedback">
            El correo electrónico o el teléfono son campo requeridos.
          </div>
        </div>
        <div class="form-group">
          <label for="InputTelefono1">Teléfono</label>
          <input v-model="datos_personales.telefono" type="tel" class="form-control is-invalid" name="telefono" placeholder="Teléfono" required>
          <div class="invalid-feedback">
            El correo electrónico o el teléfono son campo requeridos.
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="alert alert-success" role="alert" hidden>
              <strong>Trabajando</strong> {{ alert_message }}
            </div>
          </div>
        </div>
      </form>
      <form class="form-wrapper">
        <div class="row">
          <div class="col">
            <div v-if="$store.state.propietario.estatus == 'I'" class="alert alert-danger" role="alert">
              Registro incompleto, faltan datos comerciales y bancarios - contactar propietario.
            </div>
          </div>
        </div>
        <div class="row submitrow">
          <div class="col-md-4 col-sm-2">
            <button @click.prevent="DatosPersonalesPost" class="btn btn-secondary btn-block">Guardar</button>
          </div>
          <div class="col-md-2 col-sm-2">
            <button @click.prevent="DatosBancarios" class="btn btn-secondary btn-block">Datos Bancarios</button>
          </div>
          <!--
          <div class="col-md-2 col-sm-2">
            <button @click.prevent="DatosBancarios" class="btn btn-secondary btn-block">Datos Comerciales</button>
          </div>
          -->
          <div class="col-md-4 col-sm-2">
            <button @click.prevent="ClearForm" class="btn btn-secondary btn-block">Regresar</button>
          </div>
        </div>
      </form>
      <form>
        <span><h1>Estatus bancario: </h1> <h2>{{datos_personales.estatus_bancario}}</h2></span>
        <hr>
        <h2>Espacios de este usuario</h2>

        <div id="espacios_propietario">
          <v-client-table :data="rows" :columns="columns" :options="options">
            <template slot="foto" slot-scope="props">
              <div id='espacio'>
                  <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 150px; height: 120px;">
              </div>
            </template>
             <template slot="pk" slot-scope="props">
              <div id="childrow">
                <a v-bind:pk="props.row.id" @click.prevent="editarEspacio(props.row.pk)" href="#">
                  <!-- {{props.row.nombre}} -->
                  {{props.row.pk}}
                </a>
              </div>
            </template>
          </v-client-table>
        </div>
      </form>
      <form>
        <hr>
        <h2>Locales de este usuario</h2>
        <div id="locales_propietario">
          <v-client-table :data="rows2" :columns="columns2" :options="options2">

            <template slot="foto" slot-scope="props">
              <div id="local">
                <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 150px; height:120px;">
              </div>
            </template>
            <template slot="pk" slot-scope="props">
              <div id="childrow">
                <a v-bind:pk="props.row.id" @click.prevent="editarLocal(props.row.pk)" href="#">
                  <!-- {{props.row.nombre_comercial}} -->
                  {{props.row.pk}}
                </a>
              </div>
            </template>
          </v-client-table>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import AsistenteDatosBancarios from '@/components/Pilot/Asistente/AsistenteDatosBancarios'
import { mapGetters } from 'vuex'

import {ClientTable} from 'vue-tables-2'

import daterangepicker from 'daterangepicker'
Vue.use(ClientTable)
window.moment = require('moment')

export default {
    name: 'Propietario',
    components: {
      AsistenteMenu,
    },
       computed:{
    ...mapGetters({
      asistente_get_propietarios:'asistente_get_propietarios',
      asistente_propietario_espacio: 'asistente_propietario_espacio'
     
      })
    },
   async mounted() {
    
    // console.log(this.asistente_get_propietarios[this.$store.state.asistente.row_nr])
    let pk  = this.asistente_get_propietarios[this.$store.state.asistente.row_nr].pk
    // this.is_logged_in()
    await this.$store.dispatch('asistentePropietarioEspacios', pk)
    await this.$store.dispatch('asistentePropietarioLocal', pk)
    this.setPropietario()
      // this.toggle_email_telefono()
    },
    data() {
      return {
      theme: 'bootstrap4',
      columns2:['pk', 'nombre_comercial',
      'municipio','colonia', 'espacio_tipo',
      'foto' ],
      columns: [
        'pk',
        'nombre', 'registro',
        'giro', 'foto',

      ],
      rows: [],
      rows2: [],
      options:{
        texts: {
          filter: '',
          filterBy: '{column}',
          // count: '',
          // limit: 'Records: ',
        },
        filterByColumn: true,
        filterable: [
          'nombre'
        ],
        sortable: true,
        pagination: {
            // chunk:10,
            dropdown: true,
            esdge: true,
          },
          sortIcon:{
            base:'fa fas',
            is:'fa-sort',
            up: 'fa-sort-alpha-asc',
            down: 'fa-sort-alpha-desc'
          },

          highlightMatches: true,
          perPageValues: [10,25,50,100, 200, 1000],
      },
      options2:{
        texts: {
          filter: '',
          filterBy: '{column}',
          // count: '',
          // limit: 'Records: ',
        },
        filterByColumn: true,
        filterable: [
          'nombre_comercial'
        ],
        sortable: true,
        pagination: {
            // chunk:10,
            dropdown: true,
            esdge: true,
          },
          sortIcon:{
            base:'fa fas',
            is:'fa-sort',
            up: 'fa-sort-alpha-asc',
            down: 'fa-sort-alpha-desc'
          },

          highlightMatches: true,
          perPageValues: [10,25,50,100, 200, 1000],
      },


      datos_personales: {
        nr:0,
        primer_nombre: '',
        apellido_paterno: '',
        email:'',
        telefono: '',
        estatus_bancario : ''
        },
      alert_message: '',
      }
    },
    watch: {
      'datos_personales.email': function() {
        this.toggle_email_telefono()
      },
      'datos_personales.telefono': function() {
        this.toggle_email_telefono()
      },
    },
    methods: {
      setPropietario() {
        //  let nr = this.$store.state.asistente.row_nr
        // if (nr > -1) {
        //   this.datos_personales.api_call = 'actualizar'
        //   this.datos_personales.pk = this.asistente_propietarios[nr].nr
        //   this.datos_personales.id = this.asistente_propietarios[nr].id
        //   this.datos_personales.id1 = this.asistente_propietarios[nr].id1
        //   this.datos_personales.id2 = this.asistente_propietarios[nr].id2
        //   this.datos_personales.source = this.asistente_propietarios[nr].source
        //   this.datos_personales.primer_nombre = this.asistente_propietarios[nr].primer_nombre
        //   this.datos_personales.apellido_paterno = this.asistente_propietarios[nr].apellido_paterno
        //   this.datos_personales.apellido_materno = this.asistente_propietarios[nr].apellido_materno
        //   this.datos_personales.email = this.asistente_propietarios[nr].email
        //   this.datos_personales.telefono = this.asistente_propietarios[nr].telefono
        //   this.rows = this.asistente_propietarios[nr].espacios_array
        //   this.rows2 = this.asistente_propietarios[nr].locales
        //   this.datos_personales.estatus_bancario = this.asistente_propietarios[nr].estatus_bancario
        // }
        // document.body.scrollTop = document.documentElement.scrollTop = 0

        // this.rows = this.$store.state.asistente.data_propietariosEspacios
        this.rows = this.asistente_propietario_espacio
        this.rows2 = this.$store.state.asistente.data_propietariosLocales
        let nr = this.$store.state.asistente.row_nr
        if (nr > -1) {
          this.datos_personales.api_call = 'actualizar'
          this.datos_personales.pk = this.asistente_get_propietarios[nr].k
          this.datos_personales.id = this.asistente_get_propietarios[nr].pk
          this.datos_personales.id1 = this.asistente_get_propietarios[nr].id1
          
          this.datos_personales.primer_nombre = this.asistente_get_propietarios[nr].primer_nombre
          this.datos_personales.apellido_paterno = this.asistente_get_propietarios[nr].apellido_paterno
          this.datos_personales.apellido_materno = this.asistente_get_propietarios[nr].apellido_materno
          this.datos_personales.email = this.asistente_get_propietarios[nr].email
          this.datos_personales.telefono = this.asistente_get_propietarios[nr].telefono
          this.datos_personales.estatus = this.asistente_get_propietarios[nr].estatus
          
        }
        document.body.scrollTop = document.documentElement.scrollTop = 0
        //---------------------
        // this.datos_personales.api_call = 'actualizar'
        // this.datos_personales.pk = this.asistente_edit_propietario.pk
        // this.datos_personales.estatus = this.asistente_edit_propietario.estatus
        // this.datos_personales.primer_nombre = this.asistente_edit_propietario.primer_nombre
        // // this.datos_personales.segundo_nombre = this.asistente_edit_propietario.segundo_nombre
        // this.datos_personales.apellido_paterno = this.asistente_edit_propietario.apellido_paterno
        // this.datos_personales.apellido_materno = this.asistente_edit_propietario.apellido_materno
        // this.datos_personales.telefono = this.asistente_edit_propietario.telefono
        // this.datos_personales.email = this.asistente_edit_propietario.email
        // this.datos_personales.estatus_bancario = this.asistente_edit_propietario.estatus_bancario

        
      },
      DatosBancarios() {
        this.$router.push({ path: '/asistente/propietario/datos_bancarios' })
      },
      add_class_is_invalid(input_block) {
        if (input_block != '') {
          return false
        }
        else {
          return true
        }
      },
      async DatosPersonalesPost() {
        // console.log(this.datos_personales)
        if (!this.datos_personales.email && !this.datos_personales.telefono) {
          alert('Errores en formulario')
          return false
        }
        if (!this.datos_personales.primer_nombre || !this.datos_personales.apellido_paterno) {
          alert('Errores en formulario')
          return false
        }
        if (this.datos_personales.telefono.length != 10) {
          alert('Errores en formulario')
          return false
        }
        this.alert_message = 'Dato personal enviado'
        $('.alert-success')[0].hidden = false
        $('.submitrow')[0].hidden = true
        await this.$store.dispatch('AsistenteDatosPersonalesPost', this.datos_personales)
        this.$router.push({ path: '/asistente/propietarios' })
      },
      is_logged_in() {
        if (this.$store.getters.is_authenticated) {
        }
        else {
          this.$router.push({ path: '/' })
        }
      },
      toggle_is_invalid(event) {
        if (event.target.value == '') {
          $(event.target).addClass('is-invalid')
        }
        $(event.target).removeClass('is-invalid')
      },
      toggle_email_telefono() {
        if (!this.datos_personales.email && !this.datos_personales.telefono) {
          $("input[name='email']").addClass('is-invalid')
          $("input[name='telefono']").addClass('is-invalid')
        }
        if (this.datos_personales.email || this.datos_personales.telefono) {
          $("input[name='email']").removeClass('is-invalid')
          $("input[name='telefono']").removeClass('is-invalid')
        }
        if (this.datos_personales.telefono && this.datos_personales.telefono.length != 10) {
          $("input[name='telefono']").addClass('is-invalid')
        }
      },
    async  editarEspacio(row_id){

        this.$store.commit('ASISTENTE_ID', this.datos_personales.id1)
        this.$store.commit('ASISTENTE_PK', this.datos_personales.id)
        await  this.$store.dispatch('asistentePropietarioEditarEspacio', row_id)
        this.$router.push({path: '/asistente/propietarios/propietario/espacio'})
      },
    async  editarLocal(row_id){

        this.$store.commit('ASISTENTE_ID', this.datos_personales.id1)
        this.$store.commit('ASISTENTE_PK', this.datos_personales.id)
        await this.$store.dispatch('asistentePropietarioEditarLocal', row_id)
        this.$router.push({path: '/asistente/propietarios/propietario/local'})
      },
      ClearForm() {
        this.$router.push({ path: '/asistente/propietarios' })
      },
    },
  }
</script>
