<template>
  <div>
    <AsistenteMenu/>
    <AsistenteBotones/>
    <div class="container">
      <div id='espacios'>
        <v-client-table ref="tablaPropietarios" :data="rows" :columns="columns" :options="options" >
          <template slot="propietario" slot-scope="props">
            <div id="propietario">
              {{props.row.propietario}}<br>
              <b>Tel:</b> {{props.row.propietario_telefono}}<br>
              <b>Email:</b> {{props.row.propietario_email}}
            </div>
          </template>
          <template slot="foto" slot-scope="props">
            <div id='espacio'>
              <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 150px; height: 120px;">
            </div>
          </template>
          <template slot='pk' slot-scope="props">
            <div id='childrow'>
              <a v-bind:nr="props.row.k" @click.prevent="editarEspacio(props.row.k)" href="#">
                {{ props.row.pk }}
              </a>
            </div>
          </template>
        </v-client-table>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters, mapState } from 'vuex'
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import AsistenteBotones from '@/components/Pilot/Asistente/AsistenteBotones'
window.moment = require('moment');

export default {
  name: 'Asistente',
  components: {
    AsistenteBotones,
    AsistenteMenu,
  },
  computed:{
    ...mapGetters({
      asistente_get_espacios: 'asistente_get_espacios',
    }),
    ...mapState({
      espacios: state => state.asistente.data_espacios
    })
  },
  mounted() {

    this.set_asistente_espacios()
  },

  data() {
    return {
      theme: 'bootstrap4',
      columns: [
        'pk',
        'username',
        'propietario',
        'nombre',
        'giro',
        'registro',
        'foto'
      ],

      rows:[],

      options: {
        headings: {
          'username' : 'Username',
          'registro': 'Fecha de Registro',
        },
        texts: {
          filter: '',
          filterBy: '{column}'
        },
        headingsTooltips:{
          'nombre': 'Filtrar por nombre',
        },
        dateFormat: 'DD-MM-YYYY',
        dateColumns: ['registro'],
        toMomentFormat: true,
        datepickerOptions: {
          autoUpdateInput: true,
          autoApply: true,
          expanded: true,
          showDropdowns: true,
          opens: 'center',
          drops: 'down',
          locale: {
            cancelLabel: 'Cancelar',
            applyLabel: 'Seleccionar'
          },
          timeZone: null,
          firstDayOfWeek: 1,
          startDate: moment().startOf('year'),
          endDate: moment(),
          ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
            'Este mes': [moment().startOf('month'), moment().endOf('month')],
            'Mes anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            'Este año': [moment().startOf('year'), moment()],
            'Año anterior': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
          },
        },
        showModal: false,
        footerHeadings: false,
        columnsDropdown: false,
        filterByColumn: true,
        filterable: [
          'pk',
          'username',
          'propietario',
          'nombre',
          'giro',
          'registro',
        ],
        sortable: true,
        sortable: [
          'pk',
          'username',
          'propietario',
          'nombre',
          'giro',
          'registro',
       ],
          childRowTogglerFirst: false,
          pagination: {
            chunk:25,
            dropdown: true,
            esdge: true,
          },
          sortIcon:{
            base:'fa fas',
            is:'fa-sort',
            up: 'fa-sort-alpha-asc',
            down: 'fa-sort-alpha-desc'
          },
          preserveState: false,
          saveState: false,
          highlightMatches: true,
          perPageValues: [10,25,50,100, 200, 1000],
        },
      }
    },
    methods:{

      set_asistente_espacios(){
        this.rows = this.asistente_get_espacios
      },

      async editarEspacio(row_id) {
        let index = row_id-1
        this.$store.commit('ASISTENTE_SET_ROW_NR', index)
        //await  this.$store.dispatch('asistenteEditarEspacio', index)
        this.$router.push({path: '/asistente/espacios/espacio'})
      },
      detalles(row_id) {
        this.$refs.tablaPropietarios.toggleChildRow(row_id)
      },
      cancelar(){
        this.$router.push({path: '/asistente/espacios'})
      },
    }
  }
  </script>
