<template>
  <div>
    <AsistenteMenu/>
    <!-- Page Content -->
    <div class="container">
      <h4 class="my-4">Fotografía</h4>
      <div class="text-center">
        <label v-if="imageData.length == 0" class="btn btn-picture">
          <i class="fas fa-camera fa-5x"></i>
          <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;"
          />
        </label>
        <div class="image-preview" v-if="imageData">
          <div class="row">
            <div class="col-12">
              <img class="preview" :src="imageData">
            </div>
          </div>
          <div class="gap">
          </div>
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
              <span>
                <a @click.prevent="clearImageData" href="#">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </a>
              </span>
            </div>
            <div class="col-3">
              <span>
                <a @click.prevent="cancelar" href="#">
                  <i class="fas fa-reply fa-2x"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <h4 class="my-4">Ubicación</h4>
      <div class="form-group">
        <div id="map"></div>
      </div>
      <form class="form-wrapper">
        <label class="my-6">Nombre del espacio</label>
        <input v-model="espacio.nombre" @keyup='toggle_is_invalid($event)' type="text" class="form-control is-invalid" placeholder="...">
        <div class="invalid-feedback">
          Campo requerido.
        </div>
      </form>
      <h4 class="my-4">Dimensiones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label class="my-6">Alto (mts)</label>
              <input v-model="espacio.alto" @keyup='toggle_is_invalid($event)' type="number" class="form-control is-invalid" placeholder="...">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="my-6">Ancho (mts)</label>
              <input v-model="espacio.ancho" @keyup='toggle_is_invalid($event)' type="number" class="form-control is-invalid" placeholder="...">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="my-12"></label>
          <input v-model="espacio.digital" type="checkbox"> DIGITAL (sin checar = NO)
        </div>
      </form>
      <h4 class="my-4">Especificaciones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Giro:</label>
              <!-- <select v-model="espacio.giro" class="form-control">
                <option v-for="option in $store.state.asistente.giros" v-bind:value="option[1]">{{option[0]}}</option>
              </select> -->
               <input v-model="giro_name"  class="form-control is-invalid" placeholder="..." disabled>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo:</label>
              <input v-model="tipo_name"  class="form-control is-invalid" placeholder="..." disabled>
              <!-- <select v-model="espacio.tipo" class="form-control">
                <option v-for="option in $store.state.asistente.tipos" v-bind:value="option[1]">{{option[0]}}</option>
              </select> -->
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Material:</label>
              <input v-model="material_name"  class="form-control is-invalid" placeholder="..." disabled>
              <!-- <select v-model="espacio.material" class="form-control">
                <option v-for="option in $store.state.asistente.materiales" v-bind:value="option[1]">{{option[0]}}</option>
              </select> -->
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Restricciones:</label>
              <select v-model="espacio.restricciones" class="form-control">
                <option v-for="option in $store.state.propietario.restricciones" v-bind:value="option[1]">{{option[0]}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <h4 class="my-4">Información adicional</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <textarea v-model="espacio.descripcion" class="form-control" rows="3"></textarea>
          </div>
        </div>
      </form>
      <div class="row submitrow form-wrapper">
        <div class="col-sm-12 col-md-6">
          <button @click.prevent="postEspacio" class="btn btn-secondary btn-block">Guardar</button>
        </div>
        <div class="col-sm-12 col-md-6">
          <button @click.prevent="cancelar" class="btn btn-secondary btn-block">Regresar</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AsistenteMenu from '@/components/Pilot/Asistente/AsistenteMenu'
import { mapGetters } from 'vuex'
export default {
  name: 'Asistente',
  components: {
    AsistenteMenu,
  },
   computed:{
    ...mapGetters({
      //asistente_espacios : 'asistente_espacios',
      
      asistente_get_espacios : 'asistente_get_espacios'
    })
  },
  mounted() {
    
    this.setEspacio()
    // this.setLocation()
    this.initMap()
  },
  data() {
    return {
      alert_message: '',
      imageData: '',
      update_foto: false,
      minValue: 0,
      maxValue: 100,
      marker: '',
      map: '',
      giro_name:'',
      tipo_name:'',
      material_name:'',
      restrincciones_name:'',
      espacio: {
        espacio:'',
        api_call: 'actualizar',
        propietario: 0,
        nombre: '',
        alto: 0,
        ancho: 0,
        material: 1,
        descripcion: '',
        giro: 1,
        tipo: 1,
        restricciones: 1,
        digital: false,

        //src: '',
      }
    }
  },
  // computed: {
  //   set_giro() {}
  // },

  methods: {
    is_logged_in() {
      if (this.$store.getters.authenticated) {
      }
      else {
        this.$router.push({ path: '/' })
      }
    },
    setLocation(){
      if (this.$store.state.asistente.row_nr > -1){
        // this.latitud = Number(this.$store.state.asistente.espacios[this.$store.state.asistente.row_nr].geo_localidad[0])
        // this.longitud = Number(this.$store.state.asistente.espacios[this.$store.state.asistente.row_nr].geo_localidad[1])
        this.latitud = Number(this.asistente_get_espacios[this.$store.state.asistente.row_nr].geo_localidad[0])
        this.longitud = Number(this.asistente_get_espacios[this.$store.state.asistente.row_nr].geo_localidad[1])
        // var Latlng = new google.maps.LatLng(this.latitud, this.longitud)
        // this.marker.setPosition(Latlng)
        // this.map.setCenter(this.marker.getPosition())
      }
      else{
        // console.log('getCoordenadas')
        this.getCoordenadas()
      }
      // console.log('latitud: %s - longitud:%s', this.latitud, this.longitud)
    },
      getCoordenadas() {

        var options = {
          enableHighAccuracy: false,
          timeout: 10000,
          maximumAge: 0
        }
        var instance = this
        function success(pos) {
          var crd = pos.coords
          instance.latitud = crd.latitude
          instance.longitud = crd.longitude
          instance.send_location()
          var Latlng = new google.maps.LatLng(instance.latitud, instance.longitud)
          instance.marker.setPosition(Latlng)
          instance.map.setCenter(instance.marker.getPosition())
        }
        function error(err) {
          console.warn('ERROR(' + err.code + '): ' + err.message)
        }
        navigator.geolocation.getCurrentPosition(success, error, options)
      },

    setPropietario(){
      this.espacio.asistente = this.$store.state.user.datos_personales.pk
    },
    setEspacio(){
      let nr = this.$store.state.asistente.row_nr
      console.log(this.asistente_get_espacios[nr])
        if(nr > -1){

          if(this.asistente_get_espacios[nr].foto != null){
            this.imageData =   this.asistente_get_espacios[nr].foto
          }
        this.espacio.propietario = this.asistente_get_espacios[nr].propietario
        this.espacio.api_call = 'actualizar'
        this.espacio.espacio = this.asistente_get_espacios[nr].pk
        // this.espacio.id = this.asistente_espacios[nr].id
        this.espacio.id1 = this.asistente_get_espacios[nr].id1
        // this.espacio.id2 = this.asistente_espacios[nr].id2
        // this.espacio.id3 = this.asistente_espacios[nr].id3
         this.espacio.local = ''
        // this.espacio.source = this.asistente_espacios[nr].source
        // this.espacio.espacio = this.asistente_espacios[nr].nr
        this.espacio.nombre = this.asistente_get_espacios[nr].nombre
        // this.espacio.foto = this.asistente_get_espacios[nr].foto
        // this.espacio.geo_localidad = this.asistente_espacios[nr].geo_localidad
        this.espacio.latitud = Number(this.asistente_get_espacios[nr].geo_localidad.latitud)
        this.espacio.longitud = Number(this.asistente_get_espacios[nr].geo_localidad.longitud)
        this.espacio.alto = this.asistente_get_espacios[nr].alto
        this.espacio.ancho = this.asistente_get_espacios[nr].ancho
        this.espacio.digital = this.asistente_get_espacios[nr].digital
        this.giro_name = this.asistente_get_espacios[nr].giro
        this.tipo_name = this.asistente_get_espacios[nr].tipo
        this.material_name = this.asistente_get_espacios[nr].material
        this.espacio.descripcion = this.asistente_get_espacios[nr].descripcion
//---------------asignaciones para los inputs------------------------- 
        // this.giro_name = this.asistente_espacios[nr].giro[1]
        // this.tipo_name = this.asistente_espacios[nr].tipo[1]
        // this.material_name = this.asistente_espacios[nr].material[1]
        
        }
          
      //document.body.scrollTop = document.documentElement.scrollTop = 0
    },
    async postEspacio() {      
      if (!this.espacio || this.espacio.length > 256 ||
          this.espacio.alto <= this.minValue || this.espacio.alto > this.maxValue ||
          this.espacio.ancho < this.minValue || this.espacio.ancho > this.maxValue ||
          !this.espacio.giro || !this.espacio.tipo || this.imageData.length <= 0) {
        alert('Errores en formulario')
        return false
      }
      this.alert_message = 'Guardando espacio'
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      await this.$store.dispatch('AsistenteEspacioPost', this.espacio)
      if(this.$store.state.asistente.response.respuesta[0] && this.imageFile){
        let formData = new FormData()
        formData.append('api_call', this.espacio.api_call)
        formData.append('imageFile', this.imageFile)
        formData.append('espacioImagen', this.$store.state.asistente.response.respuesta[1])
      await this.$store.dispatch('asistenteUploadFoto', formData)
      console.log('')
      // console.log(this.$store.state.asistente.current_espacio_edit)
      }

      this.$router.push({ path: '/asistente/espacios'})
    },
    previewImage(event){
      this.imageFile = this.$refs.file.files[0]
      var input = event.target
      var instance = this
      if(input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e){
          instance.imageData = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      }
    },
    clearImageData(){
      this.imageData = ''
      this.update_foto = true
    },
    toggle_is_invalid(event) {
      if (event.target.value == '') {
        // console.log($(event.target).addClass('is-invalid'))
        $(event.target).addClass('is-invalid')
      }
      $(event.target).removeClass('is-invalid')
    },
    clearForm() {
      this.$router.push({path: '/asistente/espacios'})
    },
    cancelar(){
      this.$router.push({path: '/asistente/espacios'})
    },
        initMap(){
      var uluru = {lat: this.espacio.latitud, lng: this.espacio.longitud}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 18
      })
      this.marker = new google.maps.Marker({
        position: uluru,
        draggable: true,
        map: this.map
      })
      var instance = this
      var marker = this.marker

      google.maps.event.addListener(marker, 'dragend', function(marker){
        instance.espacio.latitud = marker.latLng.lat()
        instance.espacio.longitud = marker.latLng.lng()
      })

      var map = this.map
      google.maps.event.addListener(map, 'click', function(event){
        var marker=event
        var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

        instance.marker.setPosition(Latlng)
        instance.map.setCenter(instance.marker.getPosition())
        instance.espacio.latitud = marker.latLng.lat()
        instance.espacio.longitud = marker.latLng.lng()
      })
    },
  },
}
</script>
