<template>
  <div class="container">
    <form class="form-wrapper">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <button v-on:click.prevent="promotores" type="submit" class="btn btn-secondary btn-block">Promotores</button>
        </div>
        <div class="col-md-3 col-sm-12">
          <button v-on:click.prevent="propietarios" type="submit" class="btn btn-secondary btn-block">Propietarios</button>
        </div>
        <div class="col-md-3 col-sm-12">
          <button v-on:click.prevent="espacios" type="submit" class="btn btn-secondary btn-block">Espacios</button>
        </div>
        <div class="col-md-3 col-sm-12">
          <button v-on:click.prevent="locales" type="submit" class="btn btn-secondary btn-block">Locales</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'
export default {
  name: 'AsistenteBotones',
  components: {
  },
  computed:{
  },
  mounted() {

  },

  data() {
    return {

    }
  },

  methods:{

    async promotores() {
      this.$router.push({path: '/asistente/'})
    },
    async propietarios() {
      this.$router.push({path: '/asistente/propietarios'})
    },
    async espacios() {
        this.$router.push({path: '/asistente/espacios'})
    },
    async locales(){
        this.$router.push({path:'/asistente/locales'})
    }
  }
}
</script>
