<template>
  <div>
    <PropietarioMenu/>
    <div class="container">
      <h4 class="my-4">Fotografía</h4>
      <PropietarioFoto foto='espacio' @handleImage="getImage"/>
      <h4 class="my-4">Ubicación</h4>
      <PropietarioLocation location='espacio' @handleLocation="getLocation"/>
      <form class="form-wrapper">
        <label class="my-6">Nombre del espacio</label>
        <input v-model="espacio.nombre" @keyup='toggle_is_invalid($event)' type="text" class="form-control is-invalid" placeholder="...">
        <div class="invalid-feedback">
          Campo requerido.
        </div>
      </form>
      <form class="form-wrapper">
        <label class="my-6">Asociar un local</label>
        <select v-model="espacio.local" class="form-control">
          <option v-for="option in $store.state.propietario.locales" v-bind:value="option.pk">{{option.nombre_comercial}}</option>
        </select>
      </form>
      <h4 class="my-4">Dimensiones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label class="my-6">Alto (mts)</label>
              <input v-model="espacio.alto" @keyup='toggle_is_invalid($event)' type="number" class="form-control is-invalid" placeholder="...">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="my-6">Ancho (mts)</label>
              <input v-model="espacio.ancho" @keyup='toggle_is_invalid($event)' type="number" class="form-control is-invalid" placeholder="...">
              <div class="invalid-feedback">
                Campo requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="my-12"></label>
          <input v-model="espacio.digital" type="checkbox"> DIGITAL (sin checar = NO)
          </label>
        </div>
      </form>
      <h4 class="my-4">Especificaciones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Giro:</label>
              <select v-model="espacio.giro" class="form-control">
                <option v-for="option in $store.state.propietario.giros" v-bind:value="option[1]">{{option[0]}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo:</label>
              <select v-model="espacio.tipo" class="form-control">
                <option v-for="option in $store.state.propietario.tipos" v-bind:value="option[1]">{{option[0]}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Material:</label>
              <select v-model="espacio.material" class="form-control">
                <option v-for="option in $store.state.propietario.materiales" v-bind:value="option[1]">{{option[0]}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Restricciones:</label>
              <select v-model="espacio.restricciones" class="form-control">
                <option v-for="option in $store.state.propietario.restricciones" v-bind:value="option[1]">{{option[0]}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <h4 class="my-4">Información adicional</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col">
            <textarea v-model="espacio.descripcion" class="form-control" rows="3"></textarea>
          </div>
        </div>
      </form>
      <div class="row submitrow form-wrapper">
        <div class="col-sm-12 col-md-6">
          <button @click.prevent="postEspacio" class="btn btn-secondary btn-block">Guardar</button>
        </div>
        <div class="col-sm-12 col-md-6">
          <button @click.prevent="ClearForm" class="btn btn-secondary btn-block">Cancelar</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PropietarioMenu from '@/components/Pilot/Propietario/PropietarioMenu'
import PropietarioFoto from '@/components/Pilot/Propietario/PropietarioFoto'
import PropietarioLocation from '@/components/Pilot/Propietario/PropietarioLocation'
export default {
  components: {
    PropietarioMenu,
    PropietarioFoto,
    PropietarioLocation,
  },

  mounted() {
    this.set_espacio()
  },
  data() {
    return {
      alert_message: '',
      minValue: 0,
      maxValue: 100,
      marker: '',
      map: '',
      imageFile: false,
      espacio: {
        api_call: 'agregar',
        espacio: -1,
        propietario: '',
        nombre: '',
        alto: '',
        ancho: '',
        material: '',
        descripcion: '',
        giro: '',
        tipo: '',
        local:'',
        restricciones: 1,
        digital: false,
        
      }
    }
  },

  methods: {
    getImage(event){
      this.imageFile = event.imageFile
    },
    getLocation(event){
      this.espacio.latitud = event.latitud
      this.espacio.longitud = event.longitud
    },
    set_espacio(){
      this.espacio.propietario = this.$store.state.propietario.user.datos_personales.pk
      console.log(this.espacio.propietario)
      let nr = this.$store.state.propietario.espacioNr
      if (nr > -1)
      {
        if (this.$store.state.propietario.espacios[nr].foto != false) {
          this.imageData = this.$store.state.propietario.espacios[nr].foto
        }
        this.espacio.api_call = 'actualizar'
        this.espacio.espacio = this.$store.state.propietario.espacios[nr].espacio
        this.espacio.local = this.$store.state.propietario.espacios[nr].local
        this.espacio.nombre = this.$store.state.propietario.espacios[nr].nombre
        this.espacio.alto = this.$store.state.propietario.espacios[nr].dimensiones[0]
        this.espacio.ancho = this.$store.state.propietario.espacios[nr].dimensiones[1]
        this.espacio.digital = this.$store.state.propietario.espacios[nr].digital
        this.espacio.giro = this.$store.state.propietario.espacios[nr].giro[0]
        this.espacio.tipo = this.$store.state.propietario.espacios[nr].tipo[0]
        this.espacio.material = this.$store.state.propietario.espacios[n|r].material[0]
        this.espacio.descripcion = this.$store.state.propietario.espacios[nr].descripcion
      }
    },
    async postEspacio() {

        if(this.espacio.nombre.length == 0){
          alert('Favor de introducir el nombre del espacio.')
        }
        if(this.espacio.local.length == 0){
          alert('Asignele un local')
        }
        if(this.espacio.giro.length == 0){
          alert('Asignale un giro')
          return false
        }
        if(this.imageFile == false  ){
          alert('Es necesario la foto')
        return false
          
        }
        if(this.espacio.tipo.length == 0){
          alert('Asignale un tipo')
          return false
        }
        if(this.espacio.material.length == 0){
          alert('Falta asignarle un material ')
        }
        if(this.espacio.alto <= this.minValue || this.espacio.alto > this.maxValue || this.espacio.ancho < this.minValue || this.espacio.ancho > this.maxValue){
          alert('Error.  Corregir dimensiones')
          return false
        }

        if(this.espacio.descripcion.length == 0){
          alert('Agregar descripción adicional')
          return false
        }
        if(this.espacio.latitud === 0) {
          alert('no hay ninguna ubicacion marcada ')
          this.espacio.latitud =  19.4023839,
          this.espacio.longitud =  -99.1466904
        }

        this.alert_message = 'Guardando espacio'
        $('.alert')[0].hidden = false
        $('.submitrow')[0].hidden = true
        await this.$store.dispatch('propietarioPostEspacio', this.espacio)
        if (this.$store.state.propietario.response.respuesta[0] && this.imageFile) {
          let formData = new FormData()
          formData.append('api_call', this.espacio.api_call)
          formData.append('imageFile', this.imageFile)
          formData.append('espacioImagen', this.$store.state.propietario.response.respuesta[1])
          this.$store.dispatch('propietarioUploadFoto', formData)
        }
        this.$router.push({ path: '/' + this.$store.state.propietario.group })
      },
      toggle_is_invalid(event) {
        if (event.target.value == '') {
          $(event.target).addClass('is-invalid')
        }
        $(event.target).removeClass('is-invalid')
      },
      ClearForm() {
        this.$router.push({ path: '/' + this.$store.state.propietario.group  })
      },
    },
  }
  </script>
