<template>
  <div>
    <PropietarioMenu/>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="table table-striped">
            <tr>
            <tr v-for="(espacio, nr) in get_espacios">
              <td>
                <a @click.prevent="editarEspacio(nr)" href="#">
                  <tr>{{espacio.nombre}}</tr>
                  <tr>{{espacio.tipo[1]}} : {{espacio.material[1]}}</tr>
                  <tr>{{espacio.dimensiones[0]}} x {{espacio.dimensiones[1]}}</tr>
                  <tr>{{espacio.descripcion}}</tr>
                </a>
              </td>
              <td>
                <img v-bind:src="espacio.foto" alt="" type="submit" class="img-thumbnail" style="width: 100px; height: 100px;">
              </td>
            </tr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button v-on:click.prevent="cancelar()" type="submit" class="btn btn-primary btn-block">Atrás</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PropietarioMenu from '@/components/Pilot/Propietario/PropietarioMenu'
import { mapGetters } from 'vuex'
export default {
  name: 'Vendedor',
  components: {
    PropietarioMenu,
  },

  mounted(){
    this.set_espacios()
  },
  data () {
    return {
      espacios:{

      },
    }
  },
  computed: {
    ...mapGetters({
      get_espacios: 'get_espacios',
      get_espacioNr: 'espacioNr'
    }),
    espacioNr(){
      return this.$store.state.propietario.espacioNr
    },
    user(){
      return this.$store.state.propietario.user
    }
  },
  methods:{
    async set_espacios(){
      await this.$store.dispatch('set_espacios')
    },
    editarEspacio(nr){
      this.$store.commit('SET_ESPACIO', nr)
      this.$router.push({path: '/propietario/espacio'})
    },
    cancelar(){
      this.$router.push({path: '/propietario/'})
    },
  }
}
</script>
