<template>
  <form class="form-wrapper">
    <div class="form-group">
      <div id="map"></div>
    </div>
  </form>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  components: {
  },

  mounted() {
    this.initMap()
    this.set_location()

  },
  data() {
    return {
      marker: '',
      map: '',
      latitud: 19.4023839,
      longitud: -99.1466904,
    }
  },

  computed: {

  },

  props:['location'],

  methods: {
    set_location(){
      if (this.location == 'espacio') {
        if (this.$store.state.propietario.espacioNr > -1){
          this.latitud = Number(this.$store.state.propietario.espacios[this.$store.state.propietario.espacioNr].geo_localidad[0])
          this.longitud = Number(this.$store.state.propietario.espacios[this.$store.state.propietario.espacioNr].geo_localidad[1])
          this.send_location()
          this.initMap()
        }
        else{
          this.getCoordenadas()
        }
      }
      else if (this.location == 'local') {
        if (this.$store.state.propietario.localNr > -1) {
        this.latitud = Number(this.$store.state.propietario.locales[this.$store.state.propietario.localNr].geo_localidad[0])
        this.longitud = Number(this.$store.state.propietario.locales[this.$store.state.propietario.localNr].geo_localidad[1])
        this.send_location()
        this.initMap()
        }
        else{
        this.getCoordenadas()
        }
      }


    },
    send_location(){
      this.$emit('handleLocation', {
        latitud: this.latitud,
        longitud: this.longitud})
    },
    initMap(){

      var uluru = {lat: this.latitud, lng: this.longitud}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 18
      })
      this.marker = new google.maps.Marker({
        position: uluru,
        draggable: true,
        map: this.map
      })
      var instance = this
      var marker = this.marker

      google.maps.event.addListener(marker, 'dragend', function(marker){
        instance.latitud = marker.latLng.lat()
        instance.longitud = marker.latLng.lng()
        instance.send_location()
      })

      var map = this.map
      google.maps.event.addListener(map, 'click', function(event){
        var marker=event
        var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

        instance.marker.setPosition(Latlng)
        instance.map.setCenter(instance.marker.getPosition())
        instance.latitud = marker.latLng.lat()
        instance.longitud = marker.latLng.lng()
        instance.send_location()
      })
    },
      getCoordenadas() {

        var options = {
          enableHighAccuracy: false,
          timeout: 10000,
          maximumAge: 0
        }
        var instance = this
        function success(pos) {
          var crd = pos.coords
          instance.latitud = crd.latitude
          instance.longitud = crd.longitude
          instance.send_location()
          var Latlng = new google.maps.LatLng(instance.latitud, instance.longitud)
          instance.marker.setPosition(Latlng)
          instance.map.setCenter(instance.marker.getPosition())
        }
        function error(err) {
          console.warn('ERROR(' + err.code + '): ' + err.message)
        }
        navigator.geolocation.getCurrentPosition(success, error, options)
      },
    },
  }
  </script>
