<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a  v-on:click.prevent="home" href="#" class="navbar-brand">ADXSPACE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a v-on:click.prevent="personales" class="nav-link" href="#">PERFIL</a>
          </li>
          <li>
            <a v-on:click.prevent="locales" class="nav-link" href="#">REGISTRAR LOCAL</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="espacio" class="nav-link" href="#">ESPACIOS</a>
          </li>
          <li>
            <a v-on:click.prevent="registro_espacio(-1)" class="nav-link" href="#">REGISTRAR ESPACIO</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="logout" class="nav-link" href="#">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  mounted(){

  },
  data () {
    return {
    }
  },
  methods:{
    async logout(){
      await this.$store.dispatch('logout')
    },
    home(){
      this.$router.push({path: '/propietario'})
    },
    personales(){
      this.$router.push({path: '/propietario/datos_personales'})
    },
    locales(){
      this.$router.push({path: '/propietario/direcciones'})
    },
    bancarios(){
      this.$router.push({path: '/propietario/datos_bancarios'})
    },
    espacio(){
      this.$router.push({path: '/propietario/espacios_registrados'})
    },
    registro_espacio(nr){
      this.$store.commit('SET_ESPACIO', nr)
      this.$router.push({path: '/propietario/espacio'})
    }
  }
}
</script>
