<template>
  <div>
    <PropietarioMenu/>
    <section>
      <div class="container">
        <form class="form-wrapper">
          <div class="form-group">
            <label for="InputNombre1">Nombre</label>
            <input v-model="datos_personales.primer_nombre" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(datos_personales.primer_nombre)}]" placeholder="Nombre">
            <div class="invalid-feedback">
              Campo requerido.
            </div>
          </div>
          <div class="form-group">
            <label for="Inputapellidos1">Apellido paterno</label>
            <input v-model="datos_personales.apellido_paterno" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(datos_personales.apellido_paterno)}]"  placeholder="Apellido paterno">
            <div class="invalid-feedback">
              Campo requerido.
            </div>
          </div>
          <div class="form-group">
            <label for="Inputapellidos2">Apellido materno</label>
            <input v-model="datos_personales.apellido_materno" type="text" class="form-control" placeholder="Apellido materno">
          </div>
          <div class="form-group">
            <label for="InputEmail1">Correo electrónico</label>
            <input v-model="datos_personales.email" type="email" class="form-control is-invalid" name="email" aria-describedby="emailHelp"
            placeholder="Escriba su correo electrónico">
            <div class="invalid-feedback">
              El correo electrónico o el teléfono son campo requeridos.
            </div>
          </div>
          <div class="form-group">
            <label for="InputTelefono1">Telefono</label>
            <input v-model="datos_personales.telefono" type="tel" class="form-control is-invalid" name="telefono" placeholder="Teléfono">
            <div class="invalid-feedback">
              El correo electrónico o el teléfono son campo requeridos.
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="alert alert-success" role="alert" hidden>
                <strong>Trabajando</strong> {{ alert_message }}
              </div>
            </div>
          </div>
        </form>
        <form class="form-wrapper">
          <div class="row">
            <div class="col">
              <div v-if="$store.state.propietario.estatus == 'I'" class="alert alert-danger" role="alert">
                Registro incompleto.  Favor de terminar el registro ingresando sus datos bancarios.
              </div>
            </div>
          </div>
          <div class="row submitrow">
            <div class="col-md-4 col-sm-12">
              <button @click.prevent="DatosPersonalesPost" class="btn btn-secondary btn-block">Guardar</button>
            </div>
            <div class="col-md-4 col-sm-12">
              <button @click.prevent="DatosBancarios" class="btn btn-secondary btn-block">Datos Bancarios</button>
            </div>
            <div class="col-md-4 col-sm-12">
              <button @click.prevent="ClearForm" class="btn btn-secondary btn-block">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>
<script>
import PropietarioMenu from '@/components/Pilot/Propietario/PropietarioMenu'
import { mapGetters } from 'vuex'
export default {
  components: {
    PropietarioMenu,
  },

  mounted() {
    this.is_logged_in()
    this.toggle_email_telefono()
  },
  data() {
    return {
      // datos_personales: {
      //   primer_nombre: this.$store.state.propietario.user.datos_personales.primer_nombre,
      //   segundo_nombre: '',
      //   apellido_paterno: this.$store.state.propietario.user.datos_personales.apellido_paterno,
      //   apellido_materno: this.$store.state.propietario.user.datos_personales.apellido_materno,
      //   email: this.$store.state.propietario.user.datos_personales.email,
      //   telefono: this.$store.state.propietario.user.datos_personales.telefono,
      alert_message: '',
    }
  },
  computed: {
    ...mapGetters({
      datos_personales: 'get_datos_personales'
    })
  },
    watch: {
      'datos_personales.email': function () {
        this.toggle_email_telefono()
      },
      'datos_personales.telefono': function () {
        this.toggle_email_telefono()
      }
    },
    methods: {
      DatosBancarios(){
        this.$router.push({ path: '/propietario/datos_bancarios' })
      },
      add_class_is_invalid(input_block){
        if (input_block != ''){
          return false
        }
        else{
          return true
        }
      },
      async DatosPersonalesPost() {
        if (!this.datos_personales.email && !this.datos_personales.telefono) {
          alert('Errores en formulario')
          return false
        }
        if (!this.datos_personales.primer_nombre || !this.datos_personales.apellido_paterno) {
          alert('Errores en formulario')
          return false
        }
        if(this.datos_personales.telefono.length != 10){
          alert('Errores en formulario')
          return false
        }
        this.alert_message = 'Dato personal enviado'
        $('.alert-success')[0].hidden = false
        $('.submitrow')[0].hidden = true
        this.datos_personales.pk = this.$store.state.propietario.user.datos_personales.pk
        await this.$store.dispatch('PropietarioDatosPersonalesPost', this.datos_personales)
        this.$router.push({ path: '/' + this.$store.state.propietario.group })
      },
      is_logged_in() {
        if (this.$store.getters.is_authenticated) {
        }
        else {
          this.$router.push({ path: '/' })
        }
      },
      toggle_is_invalid(event) {
        if (event.target.value == '') {
          $(event.target).addClass('is-invalid')
        }
        $(event.target).removeClass('is-invalid')
      },
      toggle_email_telefono() {

        if (!this.datos_personales.email && !this.datos_personales.telefono) {
          $("input[name='email']").addClass('is-invalid')
          $("input[name='telefono']").addClass('is-invalid')
        }
        if (this.datos_personales.email || this.datos_personales.telefono) {
          $("input[name='email']").removeClass('is-invalid')
          $("input[name='telefono']").removeClass('is-invalid')
        }
        if(this.datos_personales.telefono && (this.datos_personales.telefono.length != 10)){
          $("input[name='telefono']").addClass('is-invalid')
        }
      },
      ClearForm() {
        this.$router.push({ path: '/' + this.$store.state.propietario.group  })
      }
    }
  }
  </script>
