<template>
  <div>
    <PropietarioMenu/>
    <Propietario/>
  </div>
</template>

<script>
import Propietario from '@/components/Pilot/Propietario/Propietario'
import PropietarioMenu from '@/components/Pilot/Propietario/PropietarioMenu'
export default {
  components: {
    PropietarioMenu,
    Propietario,
  },
}
</script>
