<template>
  <div class="text-center form-wrapper">
    <label v-if="imageData.length == 0" class="btn btn-picture">
      <i class="fas fa-camera fa-5x"></i>
      <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;"
      />
    </label>
    <div class="image-preview" v-if="(imageData.length > 0) & imageData != false">
      <div class="row">
        <div class="col-12">
          <img class="preview" :src="imageData">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
          <span>
            <a @click.prevent="clearImageData" href="#">
              <i class="fas fa-thumbs-down fa-2x"></i>
            </a>
          </span>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {

  },

  mounted() {

    this.set_foto()
  },
  data() {
    return {
      imageData: '',
    }
  },
  computed: {
  },

  props:['foto'],

  methods: {
    set_foto(){
      if(this.foto == 'espacio'){
        if (this.$store.state.propietario.espacios[this.$store.state.propietario.espacioNr]) {
          this.imageData = this.$store.state.propietario.espacios[this.$store.state.propietario.espacioNr].foto
        }
      }

      else if (this.foto == 'local') {
        if(this.$store.state.propietario.localNr > -1)
        this.imageData = this.$store.state.propietario.locales[this.$store.state.propietario.localNr].foto
      }

    },
    previewImage(event){
      this.imageFile = this.$refs.file.files[0]
      var input = event.target
      var instance = this
      if(input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e){
          instance.imageData = e.target.result
        }
        reader.readAsDataURL(input.files[0])
        this.send_image()
      }
    },
    send_image(){
      this.$emit('handleImage', {
        imageFile: this.imageFile})
    },
    clearImageData(){
      this.imageData = ''
      this.$emit('handleImage', {
        imageFile: false})
    },

  },
}
</script>
