<template>
  <div>
    <PropietarioMenu/>
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- <table v-if="locales.length != 0" class="table table-striped">
            <tr>
              <th>Nombre comercial</th>
              <th>Tipo</th>
            </tr>
            <tr v-for="(local, nr) in locales">
              <a @click.prevent="editarLocal(nr)" href="#">
                <td>{{local.nombre_comercial}}</td>
              </a>
              <td>{{local.espacio_tipo}}</td>
              <td>
                <img v-bind:src="local.foto" alt="" type="submit" class="img-thumbnail" style="width: 100px; height: 100px;">
              </td>
            </tr>
          </table> -->
          <div id="espacio" v-if="this.rows">
            <v-client-table ref="tablaEspacios" :data="rows" :columns="columns" :options="options">
              <a slot="id" slot-scope="props" @click.prevent="editarLocal(props.row.id-1)" href="#" >
                {{ props.row.id }}
              </a>
              <img slot="foto" slot-scope="props" v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 120px; height: 120px;">

            </v-client-table>
          </div>
          <div v-else class="alert alert-danger" role="alert">
            No hay locales registrados
          </div>
        </div>
      </div>

      <div class="form-wrapper">
        <div class="row submitrow">
          <div class="col-md-4 col-sm-2">
            <button v-on:click.prevent="registrar_direcciones()" type="submit" class="btn btn-primary btn-block">Agregar local</button>
          </div>
          <div class="col-md-4 col-sm-2">
            <button @click.prevent="cancelar()" class="btn btn-primary btn-block">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PropietarioMenu from '@/components/Pilot/Propietario/PropietarioMenu'
import { mapGetters } from 'vuex'

import {ClientTable} from 'vue-tables-2';
export default {
  name: 'PropietarioDirecciones',
  components: {
    PropietarioMenu,
  },
  computed:{
    ...mapGetters({
      locales: 'propietario_get_locales',
      get_localesNew: 'get_localesNew'
    }),
  },
  mounted(){
    // console.log(this.locales)
    //  console.log(this.get_localesNew)
    this.addDataTable()
  },
  data () {
    return {
       theme: 'bootstrap4',
       columns : [
         'id',
         'nombre_comercial',
         'espacio_tipo',
         'foto'
       ],
       rows:[],
       options:{
         headings: {
            'nombre_comercial' :'Nombre Comercial',
            'espacio_tipo' : 'Tipo',
            'foto' :'Foto',
          },
        texts:{
          filter:'',
          filterBy: '{column}'
        },
        filterByColumn: true,
        filterable:[
          'id',
          'nombre_comercial',
          'espacio_tipo'
        ],
        sortable: true,
        listColumns: {
          espacio_tipo:[{
            id: '',
            text: '...'
            },
            {
            id: 'P',
            text: 'P'
            },
            {
            id: 'I',
            text: 'I'
            },
            {
            id: 'R',
            text: 'R'
          }],
        },
        pagination: {
          dropdown: true,
          esdge: true
        },
        sortIcon:{
          base:'fa fas',
          is:'fa-sort',
          up: 'fa-sort-alpha-asc',
          down: 'fa-sort-alpha-desc'
          },
        highlightMatches: true,
        perPageValues: [10,25,50,100, 200, 1000],
       }
    }
  },
  methods:{
    addDataTable(){
      this.rows = this.get_localesNew
    },
    async editarLocal(nr){      
      await this.$store.commit('SET_LOCAL', nr)
      this.$router.push({path: '/propietario/registrar_direcciones'})
    },

    async set_locales(){
      await this.$store.dispatch('propietarioSetLocales')
    },

    async registrar_direcciones(nr){
      await this.$store.commit('SET_LOCAL', nr)
      this.$router.push({path: '/propietario/registrar_direcciones'})
    },
    cancelar(){
      this.$router.push({ path: '/propietario'  })
    }
  }
}
</script>
