<template>
  <div>
    <div class="container">
      <div class="row form-wrapper">
        <div class="col">
          <h3 >Bienvenido,  {{ user.datos_personales.primer_nombre }} {{ user.datos_personales.apellido_paterno }}</h3>
          <div v-if="$store.state.propietario.estatus == 'I'" class="alert alert-danger" role="alert">
            Registro incompleto.  Favor de terminar el registro en su perfil.
          </div>
        </div>
      </div>
      <div class="row form-wrapper">
        <div class="col-md-3 col-sm-12 mb-4">
          <button v-on:click.prevent="perfil()" type="submit" class="btn btn-primary btn-block">Perfil</button>
        </div>
        <div class="col-md-3 col-sm-12 mb-4">
          <button id="direcciones" v-on:click.prevent="direcciones()" type="submit" class="btn btn-primary btn-block">Registrar locales</button>
        </div>
        <div class="col-md-3 col-sm-12 mb-4">
          <button id="espacios_registrados" v-on:click.prevent="espacios_registrados()" type="submit" class="btn btn-primary btn-block">Espacios registrados</button>
        </div>
        <div class="col-md-3 col-sm-12 mb-4">
          <button id="agregar_espacio" v-on:click.prevent="espacio(-1)" type="submit" class="btn btn-primary btn-block">Agregar espacio</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'Propietario',
  components: {

  },

  mounted(){
    this.set_espacios()
    this.check_registration()
  },
  data (){
    return {

    }
  },
  computed: {
    ...mapGetters({
      espacios: 'get_espacios',
      espacioNr: 'espacioNr',
      user: 'propietario_get_user',
    }),

    // espacios(){
    //   return this.$store.state.propietario.espacios
    // },
    // espacioNr(){
    //   return this.$store.state.propietario.espacioNr
    // },
    // user(){
    //   return this.$store.state.propietario.user
    // }
  },
  methods:{
    check_registration(){
      if(this.$store.state.propietario.estatus == 'I'){
        $('#espacios_registrados')[0].disabled = true
        $('#agregar_espacio')[0].disabled = true
        $('#direcciones')[0].disabled = true
      }
    },
    async set_espacios(){
      await this.$store.dispatch('set_espacios')
    },
    editarEspacio(nr) {
      this.espacio(nr)
    },
    espacio(nr){
      this.$store.commit('SET_ESPACIO', nr)
      this.$router.push({path: '/propietario/espacio'})
    },
    perfil(){
      this.$router.push({path: '/propietario/datos_personales'})
    },
    espacios_registrados(){
      this.$router.push({path: '/propietario/espacios_registrados'})
    },
    direcciones(){
      this.$router.push({path: '/propietario/direcciones'})
    },
  }
}
</script>
