<template>
  <div>
    <PropietarioMenu/>
    <div class="container">
      <h4 class="my-4">Fotografía</h4>
      <PropietarioFoto foto='local' @handleImage="getImage"/>
      <h4 class="my-4">Ubicación</h4>
      <PropietarioLocation location='local' @handleLocation="getLocation"/>
      <div class="form-wrapper">
        <div class="form-group">
          <label for="nombreComercial">Nombre del comercio o razón social:</label>
          <input type="text" v-model="form_data.nombre_comercial" class="form-control">
        </div>
      </div>
      <div class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Giro</label>
              <select v-model="form_data.giro" class="form-control">
                <option v-for="option in $store.state.propietario.giros" v-bind:value="option[1]" v-bind:key="option[1]">{{option[0]}}</option>
                <!-- <option v-for="option_giros in $store.state.propietario.giros"   v-bind:value="option_giros[1]" v-bind:key="option_giros[1]">{{option_giros[0]}}</option> -->
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-wrapper">
        <div class="form-group">
          <label for="espacio_tipo">Tipo de espacio:</label>
          <select v-model="form_data.espacio_tipo" class="form-control">
            <option v-bind:value="'C'">Comercial</option>
            <option v-bind:value="'P'">Profesional</option>
          </select>
        </div>
      </div>
      <div class="form-wrapper">
        <div class="form-group">
          <label for="calle">Calle:</label>
          <input type="text" v-model="form_data.calle" class="form-control">
        </div>
        <div class="form-group">
          <label for="numeroExterior">Número exterior:</label>
          <input type="text" v-model="form_data.numero_exterior" class="form-control">
        </div>
        <div class="form-group">
          <label for="numeroInterior">Número interior:</label>
          <input type="text" v-model="form_data.numero_interior" class="form-control">
        </div>
        <div class="form-group">
          <label for="codigo_postal">Código Postal:</label>
          <input type="text" @change='codigo_postal_api' v-model="form_data.codigo_postal" class="form-control">
        </div>
        <div id="colonia-select" class="form-group">
          <label for="colonia">Colonia:</label>
          <select type="text" v-model="form_data.colonia" selected="San Ramon Norte" class="form-control">
            <option  v-for="option in $store.state.propietario.api.codigos_postales.colonias" v-bind:value="option">{{option}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="municipio">Municipio: <b>{{$store.state.propietario.api.codigos_postales.municipio}}</b> </label>
        </div>
        <div class="form-group">
          <label for="estado">Estado: <b>{{$store.state.propietario.api.codigos_postales.estado}}</b></label>
        </div>
      </div>
      <div class="row submitrow form-wrapper">
        <div class="col-md-3 col-sm-12 mb-4">
          <button v-on:click.prevent="guardar()" type="submit" class="btn btn-primary btn-block">Guardar</button>
        </div>
        <div class="col-md-3 col-sm-12 mb-4">
          <button @click.prevent="cancelar()" class="btn btn-primary btn-block">Cancelar</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import PropietarioMenu from '@/components/Pilot/Propietario/PropietarioMenu'
import { mapGetters } from 'vuex'
import PropietarioFoto from '@/components/Pilot/Propietario/PropietarioFoto'
import PropietarioLocation from '@/components/Pilot/Propietario/PropietarioLocation'
export default {
  name: 'RegistrarDirecciones',
  components:{
    PropietarioMenu,
    PropietarioFoto,
    PropietarioLocation,
  },
  data () {
    return {
      form_data:{
        api_call: 'agregar',
        codigo_postal: '',
      },
      image_src: '',
      alert_message: '',
    }
  },
  mounted(){
    this.set_local()

  },
  methods:{
  async set_local(){

      let nr = this.$store.state.propietario.localNr      
      if(nr > -1){
        this.form_data.codigo_postal = this.$store.state.propietario.locales[nr].direccion.codigo_postal
        this.form_data.calle = this.$store.state.propietario.locales[nr].direccion.calle
        this.form_data.numero_exterior = this.$store.state.propietario.locales[nr].direccion.numero_exterior
        this.form_data.numero_interior = this.$store.state.propietario.locales[nr].direccion.numero_interior
        this.form_data.espacio_tipo = this.$store.state.propietario.locales[nr].espacio_tipo
        this.form_data.nombre_comercial = this.$store.state.propietario.locales[nr].nombre_comercial
        this.image_src = this.$store.state.propietario.locales[nr].foto
        this.form_data.colonia = this.$store.state.propietario.locales[nr].direccion.colonia
        this.form_data.api_call = 'actualizar'
        this.form_data.pk = this.$store.state.propietario.locales[nr].pk
        await this.codigo_postal_api()
      }
    },
    async codigo_postal_api(){
      if(this.form_data.codigo_postal.length == 5){
      await this.$store.dispatch('codigoPostal', this.form_data.codigo_postal)
    }
    },
    getImage(event){
      this.imageFile = event.imageFile
    },
    getLocation(event){
      this.form_data.latitud = event.latitud
      this.form_data.longitud = event.longitud
    },
    async guardar(){
      if (this.form_data.latitud == 0) {
        alert('no hay ninguna ubicacion marcada ')
        this.form_data.latitud =  19.4023839,
        this.form_data.longitud =  -99.1466904
      }
      this.form_data.municipio = this.$store.state.propietario.api.codigos_postales.municipio
      this.form_data.estado = this.$store.state.propietario.api.codigos_postales.estado
      this.form_data.propietario = this.$store.state.propietario.user.datos_personales.pk
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      await this.$store.dispatch('propietarioAddLocal', this.form_data)
      if (this.$store.state.propietario.response && this.imageFile){
        let formData = new FormData()
        formData.append('api_call', this.form_data.api_call)
        formData.append('imageFile', this.imageFile)
        formData.append('localImagen', this.$store.state.propietario.response.local.pk)
        await this.$store.dispatch('propietarioUploadFotoLocal', formData)
      }
      this.$router.push({path: '/propietario/direcciones'})
    },
    cancelar(){
      this.$router.push({path: '/propietario/direcciones'})
    }
  }
}
</script>
