<template>
  <div id="app">
    <router-view/>
    <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Pilot/Landing/Footer'
export default {
  name: 'app',
  components: {
    Footer,
  },
  mounted(){
    this.check_reload()
  },

  methods:{
    check_reload(){
      if(window.performance.navigation.type == 1){
        this.$router.push({path: '/'})
      }
    },
  }
}
</script>
