{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/top_bar.html' %}
  <div class="container curve_container">
    <div class="col">
      <div class="row">
        <h3>Propietario: {{nombre_completo}}</h3>
      </div>
      <div class="row">
        <h4>Locales comerciales: {{nr_locales}}</h4>
      </div>
      <div class="row">
        <h4>Espacios: {{nr_espacios}}</h4>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h4>Locales</h4>
      </div>
    </div>
    <div class="col">
      <div class="row py-3">
        <div class="d-flex flex-sm-row align-items-center">
          <table class="table">
            <tr>
              <th>id</th>
              <th>nombre</th>
              <th>foto</th>
            </tr>
            {% for local in locales %}
            <tr>
              <td> <a href="/curves_local/{{local.pk}}">{{local.pk}}</a> </td>
              <td>{{local.nombre}}</td>
              <td><img src="{{local.foto}}" alt="{{local.foto}}" style="border-radius: 8px; width:250px; height:250px; "></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h4>Espacios</h4>
      </div>
    </div>
    <div class="col">
      <div class="row py-3">
        <div class="d-flex flex-sm-row align-items-center">
          <table class="table">
            <tr>
              <th>id</th>
              <th>nombre</th>
              <th>foto</th>
            </tr>
            {% for espacio in espacios %}
            <tr>
              <td><a href="/curves_espacio/{{espacio.pk}}">{{espacio.pk}}</a></td>
              <td>{{espacio.nombre}}</td>
              <td>
              <img src="{{espacio.foto}}" alt="{{espacio.foto}}" style="border-radius: 8px; width:250px; height:250px; ">

              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="map" hidden>

    </div>
  </div>
{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
