{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/top_bar.html' %}
<div class="container curve_container" style="">
  <div class="col">
    <div class="row">
      <h3>Espacio: {{local.pk}} </h3>
    </div>
    <div class="row">
      <h4>Nombre del local: {{local.nombre_comercial}} </h4>
    </div>
    <div class="row curve_img">
      <div class="col-12 ">
        <img  src="{{local.foto.src}}">
      </div>
    </div>
    <br>
    <div class="row">
      <div id="map"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
