{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/top_bar.html' %}
<div class="container curve_container" style="color: black">
  <div class="row">


    <div class="col"></div>
    <div class="col">
      <div class="row">
        <h3>Espacio: {{espacio.pk}} </h3>
      </div>
      <div class="row">
        <h4>Nombre del espacio: {{espacio.nombre}}</h4>
      </div>

<div class="col-mb-6">
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{foto}}" alt="Imagen de Espacio">
    <div class="card-body">
      
    </div>
  </div>
</div>
  </div>
    <div class="col">

    </div>
      </div>


    <br>
    <div class="row">
      <div id="map"></div>
    </div>

</div>
{% endblock %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
