{% extends 'provisional/provisional_base.html' %}
{% block content %}
{% include 'provisional/top_bar.html' %}
<div class="container">
  <div class="col">
    <div class="row">
      <h3>Nombre de la sucursal: {{sucursal.sucursal}}</h3>
    </div>
    <div class="row">
      <h4>Geolocalidad: latitud: {{sucursal.geo_localidad.latitud}}, longitud: {{sucursal.geo_localidad.longitud}}</h4>
    </div>
    <div id="map">

    </div>
    <br><br>
    <div class="col">
      <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" v-show="show" style="width: 22rem;">
                <img class="card-img-top" v-bind:src="imagen" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title">${nombre}</h2>
                  <h4 class="card-subtitle mb-2 text-muted">${coordenas}</h4>
                </div>
            </div>
        </div>
        <div class="col">

        </div>

    </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">  
      <div id="espacio">
          <v-client-table :data="tableData" :columns="columns" :options="options">
            <a  slot="pk" slot-scope="props" :href="'curves_espacio/'  + props.row.pk">
            ${props.row.pk}
            </a>
            <template slot="foto" slot-scope="props">
              <div id="espacio">
                <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" >
              </div>
            </template>

          </v-client-table>
        </div>
      </div>
      <div class="col-md-2"></div>
  </div>
    <br><br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div id="locales">
        <v-client-table :data="tableData2" :columns="columns2" :options="options2">
          <a slot="pk" slot-scope="props" :href="'curves_local/' + props.row.pk">
          ${props.row.pk}
          </a>
          <template slot="foto" slot-scope="props">
            <div id="locales">
              <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" >
            </div>
          </template>

        </v-client-table>
      </div>
    </div>
    <div class="col-md-2"> </div>
    </div>    



  </div>
</div>
{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
