{% extends 'provisional/provisional_base.html' %}
{% block content %}






{% include 'provisional/top_bar.html' %}
<div class="container">
  <div class="col-mb-3">
    <h1 style="text: bold; color: black; font-family: 'Patua One'" class="text-center">
      Curves
    </h1>
  </div>
  <div class="col">
    <div class="row pt-5">
      <div class="col-md-2">
      </div>
      <div class=" col-md-8">





        <table class="table table-striped border border-purple">
          <tr style="color: blue">
            <th>id</th>
            <th>Sucursal</th>
            <th>Ubicacion</th>
          </tr>
          {% for sucursal in sucursales %}
          <tr>
            <td> <a style=" text: bold; color: blue;"href="/curves_sucursal/{{sucursal.pk}}">{{sucursal.pk}}</a> </td>
            <td>{{sucursal.sucursal}}</td>
            <td>{{sucursal.geo_localidad}}</td>
          </tr>
          {% endfor %}
        </table>
      </span>

      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    </div>
<div class="col-md-3">
</div>
</div>
  <div class="map" hidden>

  </div>
</div>

{% endblock content %}
{% block scripts %}
{% include 'provisional/geolocalidad.html' %}
{% endblock %}
