<template>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <div v-for="index in carousel_adds.length">
        <li data-target="#myCarousel" :data-slide-to="set_carousel_data_slide_index(index)"></li>
      </div>
    </ol>
    <div class="carousel-inner">
      <div v-for="add, key in carousel_adds" :class="set_carousel_item_class(key)">
        <img :class="add.carousel_class" :src="get_carousel_slide_image(key)" :alt="add.carousel_alt">
        <div class="container carousel-caption text-left">
          <h1>{{add.fields.anuncio_headline}}</h1>
          <p>{{add.fields.anuncio_text}}</p>
          <a class="btn btn-lg btn-primary" href="#myCarousel" role="button">{{add.fields.anuncio_headline}}</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Carousel',
  mounted(){
    this.get_carousel_adds();
  },
  data () {
    return {
      //carousel_adds: {},
    }
  },
  computed:
    mapState ({
      // Set carousel_adds = instance.$store.state.carousel_adds
      carousel_adds: state => state.carousel_adds
    }),
  methods: {
    async get_carousel_adds () {
      var instance = this
      await instance.$store.dispatch('getCarouselAdds');
      console.log(instance.carousel_adds);
      console.log(instance.carousel_adds.length);
    },
    set_carousel_data_slide_index(key) {
      var index = key - 1;
      return (index === -1) ? index + '"' + ' class="active ' : index;
    },
    set_carousel_item_class(key) {
      return (key === 0) ? 'carousel-item active' : 'carousel-item';
    },
    get_carousel_slide_image(key) {
      var instance = this
      // return "data:image/gif;base64," + instance.adds[key].fields.anuncio_img;
      return instance.$store.state.carousel_adds[key].fields.anuncio_img;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
