<template>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div v-for="anuncio in anuncios" v-if="anuncio.carousel_class === 'first-slide'" class="carousel-item active">
          <img :class="anuncio.carousel_class" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" :alt="anuncio.carousel_alt">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>{{anuncio.fields.anuncio_headline}}</h1>
              <p>{{anuncio.fields.anuncio_text}}</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div v-else class="carousel-item">
          <img :class="anuncio.carousel_class" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" :alt="anuncio.carousel_alt">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>{{anuncio.fields.anuncio_headline}}</h1>
              <p>{{anuncio.fields.anuncio_text}}</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Carousel',
  mounted(){
    this.get_anuncios();
  },
  data () {
    return {
      anuncios: {},
      carousel_class:[
        'first-slide',
        'second-slide',
        'third-slide',
      ],
      carousel_alt:[
        'First slide',
        'Second slide',
        'Third slide',
      ]
    }
  },

  methods:{
    get_anuncios(){
      var instance = this
      window.axios.get('http://localhost:8000/get_anuncios')
      .then(function(response){
        instance.anuncios = JSON.parse(response.data.anuncios);
        console.log(instance.anuncios);
        for (var i in instance.anuncios){
          instance.anuncios[i].carousel_class = instance.carousel_class[i]
          instance.anuncios[i].carousel_alt = instance.carousel_alt[i]
          console.log(instance.anuncios[i].fields.anuncio_text);
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
