<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">ADDIX2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile.html">DATOS PERSONALES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="datos-bancarios.html">DATOS BANCARIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="espacios.html">ESPACIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="test/logout">LOG OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'LandingMenu',
  data () {
    return {
      msg: 'Welcome to Landing'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
