<template>
  <main role="frontend">
    <Carousel/>
    <Marketing/>
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>
</template>

<script>
import Carousel from '@/components/Landing/Carousel'
import Marketing from '@/components/Landing/Marketing'
export default {
  name: 'Landing',
  components: {
    Carousel,
    Marketing,
  },
  mounted(){
    // this.get_csrf();
  },
  data () {
    return {
      csrf: null,
    }
  },
  methods:{
    // get_csrf(){
    //   var instance = this
    //   window.axios.get('http://localhost:8000/get_csrf')
    //   .then(function(response){
    //     instance.csrf = response.data.csrf;
    //     console.log(instance.csrf);
    //   })
    // }

  }
}
</script>
