<template>
  <footer class="main footer">
    <div class="container">
      <p class="float-right"><a href="#app">Arriba</a></p>
      <p>&copy; 2018 <a href="http://adxpace.com">http://adxpace.com &middot;</a></p>
    </div>
    <!-- /.container -->
  </footer>
</template>
<script>
  export default{
    methods:{

    }
  }
</script>
