<template>
  <div v-if="authenticated == false">
    <Login/>
  </div>
</template>

<script>
import Login from '@/components/Pilot/Landing/Login'
import { mapGetters } from 'vuex'
export default {
  name: 'Landing',
  components: {
    Login,
  },
  computed:{
    ...mapGetters({
      authenticated: 'is_authenticated',
    })
  },
  mounted(){
    if (this.$store.state.authenticated) {
      this.$router.push({path: '/' + this.$store.state.group})
    }
    else{
      this.$router.push({path: '/login'})
    }

  },
  data (){
    return{
    }
  }
}
</script>
