<template>
  <section class="h-100">
    <div class="container-fluid h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div id="loginbox" class="card fat">
            <div class="card-body">
              <h4 class="card-title">Iniciar Sesión</h4>
              <div v-if="login_error == true" class="alert alert-danger" role="alert">
                {{error_message}}
              </div>
              <form v-on:submit.prevent>
                <div class="form-group">
                  <label for="username">Usuario</label>
                  <input @keyup='remove_is_invalid($event)' @mousedown="kill_login_error" v-model="username" type="text" autocapitalize="none" class="form-control" name="username" value="" autofocus>
                  <div class="invalid-feedback">
                    El usuario es requerido.
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input @keyup='remove_is_invalid($event)' @mousedown="kill_login_error" v-model="password" type="password" class="form-control" name="password" value="" >
                  <div class="invalid-feedback">
                    La contraseña es requerida.
                  </div>
                </div>
                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-secondary btn-block" @click="loginPost">
                    Iniciar sesión
                  </button>
                </div>
                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-secondary btn-block" @click="crearCuenta">
                    Crear una cuenta
                  </button>
                </div>
                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-secondary btn-block" @click="olvidePassword">
                    Olvidé contraseña
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  mounted(){

  },
  data () {
    return {
      username: '',
      password: '',
      login_error: false,
      error_message: 'Usuario o contraseña incorrecto',
    }
  },
  methods: {
    async loginPost () {
      if(!this.username){
        $("input[name='username']").addClass('is-invalid')
      }
      if (!this.password){
        $("input[name='password']").addClass('is-invalid')
      }
      else {
        var credentials = {
          username: this.username,
          password: this.password
        }
        var group = await this.$store.dispatch('loginPost', credentials)
        if (this.$store.state.login.authenticated) {                    
          this.$router.push({path: '/' + group})
        }
        else{
          this.login_error = true
          $('#loginbox').height(470)
        }
      }
    },
    olvidePassword(){
      window.location.href='/accounts/password_reset/'
    },
    crearCuenta(){
      window.location.href='/pilot/register/0'
    },
    kill_login_error(){
      if(this.login_error == true){
        this.login_error = false
        $('#loginbox').height(400)
      }
    },
    remove_is_invalid(event){
      $(event.target).removeClass('is-invalid')
    }
  }
}
</script>
