<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <router-link to='/' class="navbar-brand">ADDIX2</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a v-on:click.prevent="home" href="#" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="personales" href="#" class="nav-link">DATOS PERSONALES</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="bancarios" href="#" class="nav-link" >DATOS BANCARIOS</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="espacio" class="nav-link" href="#">ESPACIO</a>
          </li>
          <li class="nav-item">
            <a v-on:click.prevent="logout" class="nav-link" href="/logout">LOGOUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import api from '@/store/api'
export default {
  mounted(){

  },
  data () {
    return {
    }
  },
  methods:{
    async logout(){
      console.log('logging out')
      console.log(this.$store.state)
      await this.$store.dispatch('logout')
    },
    home(){
      this.$router.push({path: '/'})
    },
    personales(){
      this.$router.push({path: '/vendedor/datos_personales'})
    },
    bancarios(){
      this.$router.push({path: '/main/datos_bancarios'})
    },
    espacio(){
      this.$router.push({path: '/vendedor/espacios'})
    },
  }
}
</script>
