{% extends "registration/base.html" %}

{% block content %}
<div>
  <section class="h-100">
  <div class="container-fluid h-100">
    <div class="row justify-content-md-center align-items-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Recuperar contraseña</h4>
            <p>Hemos enviado un correo electrónico con las instrucciones para restaurar su contraseña.</p>
            <p>Equipo de Adxpace</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}
