{% extends "registration/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        La contraseña ha sido reestablecida <a href="/">Ingrese</a> ahora.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group no-margin">
        <a href="/">
          <button type="submit" class="btn btn-secondary btn-block">
            Ingresar
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
