{% extends "registration/base.html" %}

{% block content %}
<div>
  <section class="h-100">
  <div class="container-fluid h-100">
    <div class="row justify-content-md-center align-items-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">Recuperar contraseña</h4>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input id="email" type="email" class="form-control" name="email" required autofocus>
                <div class="form-text text-muted">
                  Al hacer clic en "Restablecer contraseña", le enviaremos un enlace para restablecer la contraseña.
                </div>
              </div>

              <div class="form-group no-margin">
                <button type="submit" class="btn btn-secondary btn-block">
                  Restablecer contraseña
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}
