html,body {
	height: 100%;
}

/* Navbar */
.navbar-light .navbar-brand  {
    color: #4b4b88;
	font-weight:800;
}

.navbar-light .navbar-brand:hover   {
    color: #4b4b88;
	font-weight:800;
	}

/* Navbar link */
.navbar-light .navbar-nav .nav-link {
    color: #ccc;
}

.navbar-light .navbar-nav .nav-link:active {
    color: #4b4b88;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #4b4b88;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #4b4b88;
}


/* unvisited link */
a:link {
    color: #4b4b88;
}

/* visited link */
a:visited {
    color: #ccc;
}

/* mouse over link */
a:hover {
    color: #4b4b88;
	text-decoration:none;
}

/* selected link */
a:active {
    color: #ccc;
}



body.main {
	background-color: #4b4b88;
	font-size: 14px;
}

body.main-profile {
	background-color: #fff;
	font-size: 14px;
}


.main .brand img {
	width: 100%;
}

.main .card-wrapper {
	width: 400px;
}

.main .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.main .card.fat {
	padding: 10px;
	margin: 140px auto;
}

.main .card .card-title {
	margin-bottom: 30px;
}

.main .form-control {
	border-width: 2.3px;
}

.main .form-group label {
	width: 100%;
}

.main .btn.btn-block {
	background-color: #4b4b88;
	border-color: #4b4b88;
	padding: 12px 10px;

}

.main .margin-top20 {
	margin-top: 20px;
}

.main .no-margin {
	margin: 0;
}


.main .footer {
	padding-top:20px;
	background-color:#fff;
	color: #4b4b88;
	height:70px;
}

.form-wrapper {
	padding: 10px;
	margin: 40px auto;
}

.container-fluid {
    background: #4b4b88;
		color: #fff;
    padding-top: 150px;
    padding-bottom: 80px;
}

.header{
	padding-left:70px;
}
